{% extends "layout.html"%}
{%block course%}
<DIV ID="TextSection" DIR="LTR">
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western"><BR>
	</P>
</DIV>
<H1 CLASS="western" STYLE="margin-left: 0in; margin-top: 0in; page-break-before: always">
<FONT COLOR="#365f91" size=10>Computer</FONT></H1>
<FONT SIZE=6>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in"><A NAME="Computer"></A>
A computer is an electronic device which accepts data as input,
performs operations on the data based on the instructions stored in
the memory and produces output. General representation of a computer
is as shown below:</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.19in; left: 1.65in; width: 478px"><IMG SRC="{{url_for('static',filename='img/C_html_de30d846.png')}}" NAME="image1.png" WIDTH=478 HEIGHT=85 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in">
A computer is made up of two components: 1) Hardware and 2) software.
The computer hardware is the physical equipment which is made of
electronic components like registers, transistors, capacitors etc..
The software is the collection of programs that allow the hardware to
serve its purpose. The purpose of the software is to use the
underlying hardware components.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<H4 CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0in"><A NAME="Architecture_of_a_Computer"></A>
<FONT COLOR="#365f91">Architecture of a Computer</FONT></H4>
<P CLASS="western" STYLE="margin-left: 0.58in; margin-top: 0.03in">The
architecture or structure of a computer is as shown below:</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.19in; left: 1.92in; width: 427px"><IMG SRC="{{url_for('static',filename='img/C_html_8d5edcf7.png')}}" NAME="image2.png" WIDTH=427 HEIGHT=285 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in">The
essential hardware components of a computer are:</P>
<OL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-top: 0in">CPU (Central Processing
	Unit)</P>
	<LI><P ALIGN=JUSTIFY>Memory</P>
	<LI><P ALIGN=JUSTIFY>I/O (Input/Output) Devices</P>
</OL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in">
<B>Central Processing Unit (CPU): </B>The CPU is the core hardware
component of a computer. It is responsible for executing instructions
such as arithmetic calculations, comparisons among data and movement
of data inside the system.</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-right: 0.11in; text-indent: 0.5in">
The Central Processing Unit mainly consists of two components: 1)
Arithmetic Logical Unit (ALU) and 2) Control Unit (CU).</P>
<P CLASS="western" STYLE="margin-left: 0.08in"><I><B>Arithmetic
Logical Unit: </B></I>The ALU performs arithmetic and logical
operations on the data based on the instructions stored in the
memory.</P>
<P CLASS="western" STYLE="margin-left: 0.08in; text-indent: -0in"><I><B>Control
Unit: </B></I>The Control Unit (CU) coordinates the system
components, like transfer of data between the components, timing etc.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; margin-top: 0in; page-break-before: always">
<B>Memory: </B>Memory is the place where the programs and data are
stored temporarily during processing. There are two types of memory
in the computer system. They are: 1) Main memory or Primary memory
and 2) Auxiliary memory or Secondary memory.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in">
<I><B>Main memory: </B></I>This is the place where the programs and
data are stored temporarily during processing. The data in the main
memory are erased when we turn off the computer or when we log off.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in">
<I><B>Auxiliary memory: </B></I>This memory is the place where the
programs and data are stored permanently. When we turn off the
computer, our programs and data remain in the secondary storage,
ready for the next time we need them.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: -0in">
<B>I/O Devices: </B>The input devices allow the user to give data as
input to the computer and the output devices allow the computer to
show information to the user. Examples of input devices are:
keyboard, mouse, and scanner. Examples of output devices are monitor,
speakers and printer.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<H4 CLASS="western" STYLE="margin-top: 0in"><A NAME="Hardware_Components_inside_a_Computer"></A>
<FONT COLOR="#365f91">Hardware Components inside a Computer</FONT></H4>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0.17in"><A NAME="Motherboard"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Motherboard</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
Motherboard is the most important hardware component of the computer.
Motherboard is the hardware component that holds the other hardware
components together as a single unit. The motherboard, or mainboard,
of a PC is a large circuit board that is home to many of the most
essential parts of the computer like: microprocessor, chipset, cache,
memory sockets, bus, parallel and serial ports, mouse and keyboard
connectors, hard disk and floppy disk sockets etc.</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.19in; left: 1.2in; width: 563px"><IMG SRC="{{url_for('static',filename='img/C_html_afa81953.jpg')}}" NAME="image3.jpeg" WIDTH=563 HEIGHT=512 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0in; page-break-before: always"><A NAME="Microprocessor"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Microprocessor</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
Microprocessor or Processor or Central Processing Unit is the heart
of every computer. It is designed to perform all of the arithmetic,
logic and other basic computing steps that make up the actions of
your computer. Whenever a user executes a word processor, a computer
game, a browser or any other software program, the CPU performs
hundreds or even thousands of instructions. The microprocessor is a
piece of electronic circuitry that uses digital logic to perform the
instructions of the software.</P>
<P CLASS="western"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.19in; left: 0.52in; width: 638px"><IMG SRC="{{url_for('static',filename='img/C_html_a6755101.gif')}}" ALIGN=LEFT><BR CLEAR=LEFT></SPAN><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in">A microprocessor is an
integrated circuit – a thin slice of silicon crystal packed with
microscopic circuit elements like: wires, transistors, capacitors,
resistors.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in"><A NAME="Random_Access_Memory_(RAM)"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Random
Access Memory (RAM)</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
The Random Access Memory (RAM) is used to store data, instructions
(programs) which are accessed by the CPU for execution. RAM is also
known as main memory or primary memory. The data or instructions
stored on the RAM can be accessed at random. Hence the name Random
Access. RAM is known as volatile memory means, the data or
information stored on the RAM is wiped out once the computer is
turned off or the power goes off.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in">
RAM is of two types namely, Static RAM (SRAM) and Dynamic RAM (DRAM).
In SRAM the electronic components used are flip-flops. The size of
flip-flop is generally bigger than other electronic components like
capacitors and transistors. Hence the size of SRAM’s is smaller
when compared to DRAM’s. Also SRAM is faster when compared to DRAM.
DRAM is made of capacitors and transistors. DRAM requires to be
refreshed at regular intervals to retain the data. Hence DRAM is
slower when compared to SRAM. DRAM’s are available in larger sizes
when compared to SRAM’s. The widely used type of RAM being used
now-a-days is DDR SDRAM (Double Data Rate Synchronous Dynamic Random
Access Memory). There are various in this type of RAM like: DDR2
SDRAM and DDR3 SDRAM.</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.19in; left: 2.68in; width: 292px"><IMG SRC="{{url_for('static',filename='img/C_html_459024e5.jpg')}}" NAME="image7.jpeg" WIDTH=292 HEIGHT=242 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0in; page-break-before: always"><A NAME="Read_Only_Memory_(ROM)"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Read
Only Memory (ROM)</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
Read Only Memory is a non-volatile memory in the computer. It is used
to store firmware (software which is tightly coupled with the
hardware). As the name implies this memory can only be read and the
data stored on it is permanent i.e., data is retained even when the
computer is turned off or the power goes off. Generally ROM’s are
used to store BIOS (Basic Input Output System) also known as
firmware.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in">
Read Only Memory is of two types: masked ROM’s and non-masked
ROM’s. Masked ROM’s are programmed before they are available in
the market. Once they are purchased, they cannot be reprogrammed.
Non-Masked ROM’s can be reprogrammed even after they are purchased
from the market. There are three types of non-masked ROM’s. They
are:</P>
<OL>
	<LI><P>PROM (Programmable Read Only Memory)</P>
	<LI><P>EPROM (Erasable Programmable Read Only Memory)</P>
	<LI><P>EEPROM (Electronically Erasable Programmable Read Only
	Memory)</P>
</OL>
<P CLASS="western" STYLE="margin-left: 0.08in"><B>PROM: </B>Programmable
Read Only Memory (PROM) or also called as One Time Programmable (OTP)
ROM can be written to via special device known as PROM programmer.
PROM can be programmed only once.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in">
<B>EPROM: </B>This type of ROMs can be erased by exposing them to
strong Ultra Violet rays. These ROMs can be programmed multiple
times. Continuous exposure to UV rays will result in wearing out the
ROM and making it unusable.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in">
<B>EEPROM: </B>This type of ROM allows the entire ROM or selected
banks of memory to be erased and rewritten electrically. There is no
need for EEPROMs to be removed from the motherboard to be
reprogrammed. EEPROMs can be reprogrammed multiple times.</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.19in; left: 2.64in; width: 290px"><IMG SRC="{{url_for('static',filename='img/C_html_c36e442.jpg')}}" NAME="image8.jpeg" WIDTH=290 HEIGHT=217 BORDER=0></SPAN><BR>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0in">
The ROM must store the data permanently. The data must not be wiped
out when the computer is turned off or the power goes off. To help
the ROM to store its data permanently, motherboard consists of a CMOS
battery, which supplies power continuously to the ROM.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in"><A NAME="Secondary_Memory_or_Auxiliary_Memory"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Secondary
Memory or Auxiliary Memory</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
Secondary memory is not directly accessible by the CPU. The secondary
memory of a computer includes: Hard disk, Floppy disk, CD, DVD, Blue
ray disc, Pen drives, SD cards, tape devices and other types of USB
memory devices. The secondary memory is used to store data
permanently. The secondary memory is non-volatile memory.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in"><A NAME="Virtual_Memory"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Virtual
Memory</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
When the primary memory (RAM) is filled with data and instructions,
and a new process has no memory to be allocated in the RAM, then the
CPU shifts the least recently used blocks of memory onto secondary
memory and allocates space to the new process in the RAM. Such memory
in the secondary memory which is used as if it is primary memory is
known as virtual memory. When virtual memory is used by the CPU, it
moves data into and out  of virtual memory which is generally slower
than accessing data directly from the RAM. Hence, when virtual memory
is used, system performance is degraded.</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0in; page-break-before: always"><A NAME="Magnetic_Tape_Devices"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Magnetic
Tape Devices</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
Magnetic tape is a medium for magnetic recording, made of a thin
magnetizable coating on a long thin strip of plastic film. Devices
that record and playback audio and video using magnetic tape are
called as audio tape recorders and video tape recorders. A computer
device that stores data on magnetic tape is called as tape drive. The
data stored on a tape drive has to be accessed sequentially.</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.19in; left: 2.61in; width: 295px"><IMG SRC="{{url_for('static',filename='img/C_html_53650410.jpg')}}" NAME="image9.jpeg" WIDTH=295 HEIGHT=170 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0.12in"><A NAME="Floppy_Disk"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Floppy
Disk</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
Floppy disk or diskette is an example for secondary memory. It is
available in 3.5inch and 5.25inch sizes commonly. In olden days, the
floppy disk was the primary data storage device o the PC, but it was
later moved to a role of removable media for single files or small
collections of files. The floppy disk still has a role for
transferring data from one PC to another, backing up small files and
compressed file and device driver distribution, although this is also
moving to CD-ROM or downloading.</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.19in; left: 2.74in; width: 268px"><IMG SRC="{{url_for('static',filename='img/C_html_c85adea3.png')}}" NAME="image10.png" WIDTH=268 HEIGHT=102 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0.13in"><A NAME="Hard_Disk"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Hard
Disk</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
Hard Disk is a device for storing and retrieving digital information,
when needed, primarily computer data. It consists of hard rapidly
rotating discs coated with magnetic material, and with magnetic heads
arranged to write data on to the surfaces and read it from there
later when needed. Hard disk is non-volatile memory where the data
can be stored permanently.</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.22in; left: 2.07in; width: 398px"><IMG SRC="{{url_for('static',filename='img/C_html_d4bef18d.png')}}" NAME="image11.png" WIDTH=398 HEIGHT=260 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0in; page-break-before: always"><A NAME="CD/DVD_Disc"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>CD/DVD
Disc</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
The Compact Disc or in short CD is an optical disc which is used to
store digital data. It was originally developed to store and play
back sound recordings only, but the format was later adapted for
storage of data (CD- ROM), write-once audio and data storage (CD-R),
rewritable media (CD-RW), Video Compact Discs (VCD), Super Video
Compact Discs (SVCD), PhotoCD, PictureCD, CD-i, and Enhanced CD. The
standard capacity of a CD is 700MB.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in">
Digital Versatile Disc or in short DVD is also an optical storage
medium like CD but DVDs have larger storage capacities than CD. Both
CDs and DVDs are read and written by using laser technology.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.25in; left: 1.83in; width: 459px"><IMG SRC="{{url_for('static',filename='img/C_html_a79cb93b.png')}}" NAME="image12.png" WIDTH=459 HEIGHT=177 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0.12in"><A NAME="Cache_Memory"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Cache
Memory</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
In a computer, generally the CPU accesses the data from Random Access
Memory (RAM). There is another faster memory than RAM in the computer
where small amount of information can be stored. Such memory is known
as cache memory. Cache memory is smaller and costlier than RAM. The
most frequently accessed data or instructions are stored in cache
memory. CPU first checks for data in cache, and if not found then
searches the RAM for data. Cache memory is generally available on the
motherboard.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in"><A NAME="Magnetic_Vs_Optical_Discs"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Magnetic
Vs Optical Discs</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
Examples for magnetic devices are magnetic tape discs, hard discs and
floppy disc. Examples for optical discs are CDs, DVDs and Blue ray
discs. Let’s see the difference between magnetic and optical
technologies:</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.19in; left: 1.79in; width: 452px"><IMG SRC="{{url_for('static',filename='img/C_html_5aafb2a1.png')}}" NAME="image13.png" WIDTH=452 HEIGHT=261 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0.12in"><A NAME="Memory_Hierarchy"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Memory
Hierarchy</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
In the computer there are various types of memory for storing digital
data like: RAM, Hard disk, CD, DVD, Blue ray, Flash Storage, Cache
and Registers etc. Let’s see the memory hierarchy which specifies
which memory is slower; which type of memory is cheaper and which
memory allows us to store maximum amount of data.</P>
<P CLASS="western" STYLE="page-break-before: always"><BR>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR><BR>
</P>
<P CLASS="western" STYLE="margin-left: 1.53in"><IMG SRC="{{url_for('static',filename='img/C_html_cc76f7b6.png')}}" NAME="image14.png" ALIGN=BOTTOM WIDTH=432 HEIGHT=261 BORDER=0></P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; margin-top: 0.04in">
As seen in the above figure, the storage capacity increases from top
to bottom. The speed and cost increases from bottom to top. So the
devices which can hold maximum amount of data are magnetic disks and
magnetic tape discs. The fastest memory is registers and the
costliest memory is cache and registers.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in"><A NAME="BIOS_(Basic_Input_Output_System)"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>BIOS
(Basic Input Output System)</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
BIOS is software which is used for starting up the computer. The
importance of BIOS is that it performs all of the functions the PC
needs to get started. BIOS contains the first instruction the
computer needs to get started, programming that checks that
computer’s hardware is attached and ready, and other routines to
help the computer get up and running. A computer’s BIOS include
instructions to perform three vital and useful functions for the PC:</P>
<OL>
	<LI><P ALIGN=JUSTIFY>It boots the computer.</P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 0.19in">It validates
	computer’s configuration.</P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 0.19in">It provides an
	interface between the hardware of the PC and its software.</P>
</OL>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in"><A NAME="Booting"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Booting</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
The procedure (set of operations) performed right from powering on
the computer till the computer is ready to be used is called as
booting. The boot process is performed under the guidance of the
BIOS. The BIOS contains the instructions needed to verify, test and
start the computer. The computer’s hardware cannot perform
operations on its own. It must have instructions to do anything at
all which is provided by the software. The boot process involves the
following:</P>
<OL>
	<UL>
		<LI><P STYLE="margin-top: 0in; line-height: 0.19in">Power
		initialization</P>
		<LI><P STYLE="line-height: 0.19in">BIOS startup</P>
		<LI><P>POST signal (Power-On Self-Test)</P>
		<LI><P STYLE="margin-top: 0in; line-height: 0.19in">Video and
		Device BIOS check</P>
		<LI><P STYLE="line-height: 0.19in">System check</P>
		<LI><P STYLE="line-height: 0.19in">Plug-and-Play check</P>
		<LI><P STYLE="line-height: 0.19in">Boot device found</P>
		<LI><P STYLE="margin-top: 0in; line-height: 0.19in">Operating
		System is loaded and running</P>
	</UL>
</OL>
<P CLASS="western" STYLE="margin-left: 0.08in">When the system is
booted when the computer is in power off state, then it is known as
<I>cold boot</I>. If the system is booted when the computer is
already running, then it is known as <I>warm boot</I>.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in"><A NAME="Chipset"></A><FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Chipset</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
The chipset resides on the motherboard which provides communication
between the various components available on the motherboard. Without
chipset, the computer cannot be operated.</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0in; page-break-before: always"><A NAME="SMPS"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>SMPS</B></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.02in">Switched-Mode Power
Supply (SMPS) is the hardware component which supplies power to other</P>
<DIV ID="Section1" DIR="LTR">
	<P CLASS="western" STYLE="margin-left: 0.08in"><A NAME="Advantages_of_Computers"></A>
	components in the computer. Initially the power from the main
	reaches the SMPS and then power reaches the motherboard from SMPS
	which supplies power to all other hardware components.</P>
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western" STYLE="margin-top: 0in"><BR>
	</P>
	<H4 CLASS="western" STYLE="margin-top: 0in"><FONT COLOR="#365f91">Advantages
	of Computers</FONT></H4>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
	Computer is a powerful electronic device which can be used for
	performing many operations. Let us see why computer is very powerful
	or the advantages of using computers.</P>
	<OL>
		<LI><P STYLE="line-height: 0.19in">Speed</P>
		<LI><P>Accuracy</P>
		<LI><P>Reliability</P>
		<LI><P STYLE="margin-top: 0in">Storage</P>
		<LI><P>Communication</P>
	</OL>
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western" STYLE="margin-top: 0in"><BR>
	</P>
	<H4 CLASS="western" STYLE="margin-top: 0in"><A NAME="Applications_of_Computers"></A>
	<FONT COLOR="#365f91">Applications of Computers</FONT></H4>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
	Computers can be used for many purposes. Now-a-days computers can be
	seen almost anywhere. Some of the areas in which computers can be
	used are:</P>
	<OL>
		<LI><P STYLE="line-height: 0.19in">Artificial Intelligence</P>
		<LI><P STYLE="line-height: 0.19in">Virtual Reality</P>
		<LI><P>Augmented Reality</P>
		<LI><P STYLE="margin-top: 0in">Animation</P>
		<LI><P>Game Design</P>
		<LI><P STYLE="line-height: 0.19in">CAD/CAM</P>
		<LI><P STYLE="line-height: 0.19in">Information Processing</P>
		<LI><P><A NAME="Software_Concepts"></A>Robotics</P>
	</OL>
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western" STYLE="margin-top: 0in"><BR>
	</P>
        
        <H4 CLASS="western" STYLE="margin-top: 0in; page-break-before: always">
<FONT COLOR="#365f91">Generations of Computers / History of Computers</FONT></H4>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in"><A NAME="Generations_of_Computers_/_History_of_Co"></A>
The history of computers is often referred to in terms of five
distinct eras/generations. Each generation is characterized by major
technological development that fundamentally changed the way
computers operate, resulting in increasingly: smaller, cheaper, more
powerful and more efficient devices. The five generations are:</P>
<OL>
	<UL>
		<LI><P STYLE="margin-top: 0in; line-height: 0.19in">First
		Generation (1946 to 1955)</P>
		<LI><P STYLE="line-height: 0.19in">Second Generation (1956 to 1963)</P>
		<LI><P STYLE="line-height: 0.19in">Third Generation (1964 to 1970)</P>
		<LI><P STYLE="line-height: 0.19in">Fourth Generation (1971 to 1991)</P>
		<LI><P STYLE="margin-top: 0in">Fifth Generation (1992 to Present)</P>
	</UL>
</OL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in">
<B>First Generation: </B>The first generation computers used vacuum
tubes which are large in size. The size of first generation computers
was usually very large which occupied an entire room in a building.
These computers were very expensive and were limited in memory. Also
these computers generated a lot of heat. The language used for
programming was machine language. UNIVAC is a famous example for
first generation computer. A vacuum tube is as shown below:</P>
<P CLASS="western" STYLE="margin-top: 0in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.15in; left: 2.63in; width: 288px"><IMG SRC="{{url_for('static',filename='img/C_html_6a83f777.png')}}" NAME="image17.png" WIDTH=288 HEIGHT=333 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; margin-top: 0.08in">
<B>Second Generation: </B>In the second generation computers, vacuum
tubes are replaced by electronic component called transistor.
Transistors are small in size when compared to vacuum tubes. So, the
second generation  computers are still huge but smaller when compared
to first generation computers. Heat generation was still high.
Assembly languages were used for programming. A transistor is as
shown below:</P>
<P CLASS="western" STYLE="margin-top: 0in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.2in; left: 3.1in; width: 201px"><IMG SRC="{{url_for('static',filename='img/C_html_8cc6bec3.png')}}" NAME="image18.png" WIDTH=201 HEIGHT=194 BORDER=0></SPAN><BR>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; margin-top: 0.11in">
<B>Third Generation: </B>In third generation computers, new
electronic components called integrated circuits (IC) were used.
Generally these ICs consist of thousands of transistors along with
other electronic components embedded</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; margin-top: 0in; page-break-before: always">
onto a single electronic circuit board by using technology called
Large Scale Integration (LSI). Third generation computer were smaller
when compared to previous generation computers. They were fast and
efficient. High-Level languages were used for programming. An
integrated circuit chip is as shown below:</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.19in; left: 2.34in; width: 345px"><IMG SRC="{{url_for('static',filename='img/C_html_56f3d6c0.png')}}" NAME="image19.png" WIDTH=345 HEIGHT=246 BORDER=0></SPAN><BR>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in">
<B>Fourth Generation: </B>In fourth generation computers, ICs were
replaced by microprocessors which consist of millions of transistors
along with other electronic devices. These microprocessors were made
by using Very Large Scale Integration (VLSI) technology. These
computers are powerful, smaller and cheaper when compared to previous
generation computers. A microprocessor is as shown below:</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.2in; left: 2.93in; width: 239px"><IMG SRC="{{url_for('static',filename='img/C_html_cbcbd13a.jpg')}}" NAME="image20.jpeg" WIDTH=239 HEIGHT=221 BORDER=0></SPAN><BR>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in">
<B>Fifth Generation: </B>The fifth generation is not declared
officially yet. The fifth generation is not characterized by the
change is hardware technology rather it is the change in computer
usage. Fifth generation computers depend on the concept called
Artificial Intelligence (AI) which enables the computer to behave
like a human.</P>
<H4 CLASS="western" STYLE="page-break-before: always"><A NAME="Types_of_Computers"></A>
<FONT COLOR="#365f91">Types of Computers</FONT></H4>
<P CLASS="western" STYLE="margin-left: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
There are 5 types of computers categorized based on the size, storage
capacity and cost. The five types of computers are:</P>
<OL>
	<LI><P ALIGN=JUSTIFY>Super Computers</P>
	<LI><P ALIGN=JUSTIFY>Mainframe Computers</P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-top: 0in; line-height: 0.19in">Mini
	Computers</P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 0.19in">Workstations</P>
	<LI><P ALIGN=JUSTIFY>Personal or Desktop Computers.</P>
</OL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in">
<B>Super Computers: </B>These types of computers are very large in
size which normally occupies the size of entire room in a building.
These computers have high data processing speeds and high storage
capacity. These computers are generally used by scientific and
research organizations and are used for specific data processing
tasks. Examples: Belle, BlueGene, Hydra, Tianhe-1A.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in">
<B>Mainframes: </B>These types of computers are smaller than super
computers, but are still large in size. These computers are used by
national and international organizations for data processing tasks.
These computers have large storage capacity but lesser than super
computers. Examples: IBM system 3, AS-400.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; margin-top: 0in">
<B>Mini Computers: </B>These types of computers are close to the size
of mainframes, but lesser than mainframes. These computers are used
by large organizations. Examples: DEC PDP, Data General Nova.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in">
<B>Workstations: </B>These computers look like desktop computers, but
generally posses high data storage capacity and larger memory than
desktop computers. These computers are used for specific tasks like:
animations, game designing, CAD/CAM and other heavy data processing
and graphics oriented tasks.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: -0in">
<B>Personal or Desktop Computers: </B>These computers are the general
purpose computers that people use at their workplaces and at their
house. These computers have less storage capacity and less processing
speed than other types of computers. These computers are generally
used for gaming, accounting, presentations etc.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
    {% endblock course %}