{% extends "layout.html"%}
{%block course%}
<DIV ID="TextSection" DIR="LTR">
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western"><BR>
	</P>
</DIV>
<H1 CLASS="western" STYLE="margin-left: 0in; margin-top: 0in; page-break-before: always">
<FONT COLOR="#365f91" size=10>Introduction to C</FONT></H1>
    
    
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0.17in"><A NAME="Basic_Programming_Terminology"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Basic
Programming Terminology</B></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0.17in"><A NAME="Language"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><B>Language</B></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
A language is a set of characters, words and associated grammar rules
which is used for communication between two human beings either
spoken or written. Examples: Telugu, Hindi, English etc.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in"><A NAME="Programming_Language"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><B>Programming
Language</B></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
A language which is used for communication between a human being and
a computer. Human beings communicate with the computer by writing
programs using a programming language. Ex: C, C++, Java etc.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in"><FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><B>Program</B></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
A program is a set of instructions for solving a particular problem
or let the computer perform operations for completing a task.
Programs are written using programming languages.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in"><A NAME="Programming"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><B>Programming</B></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.58in; margin-top: 0.03in">The
process of writing programs to instruct the computer do something is
known as programming.</P>
<P CLASS="western" STYLE="margin-left: 0.08in">Programming is done
using programming languages.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in"><A NAME="Programmer"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><B>Programmer</B></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in"><A NAME="Software"></A>
A person who can write programs by using any one of the programming
languages is known as a programmer. A programmer has the knowledge of
using atleast one programming language for writing programs.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in"><FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><B>Software</B></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
Software is a collection of programs. Generally software is developed
for solving complex problems. A person who develops software is known
as a software developer.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0in"><A NAME="What_is_C?"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>What
is C?</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
C is a structured mid-level programming language for developing
software. C follows structured programming in which the instructions
are arranged or structured using blocks and functions. C is used for
developing operating systems which are system software and also used
to create application software. Hence, C is known as middle level
language.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in"><A NAME="Why_C?_(Advantages_of_C)"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Why
C? (Advantages of C)</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
C is a powerful language using which we can develop operating
systems, games and other application software. The advantages or
characteristics of C language are:</P>
<OL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-right: 0.08in; margin-top: 0in"><B>Powerful
	and Flexible: </B>C is a flexible programming language. Using the
	concepts in C, a programmer can develop software for almost any kind
	of purpose. Various concepts like pointers, function, structures in
	C make it a powerful language.</P>
	<LI><P STYLE="margin-right: 0.08in"><B>Popular: </B>C has wide
	spread popularity in the programming league as it is very easy to
	learn, easy to write programs and easy to understand the programs
	written in C.</P>
	<LI><P STYLE="margin-right: 0.08in"><B>Portable: </B>C is a machine
	independent programming language. Code written in C, can be executed
	on any machine irrespective of the underlying hardware with little
	or no modifications.</P>
	<LI><P STYLE="margin-right: 0.08in"><B>Minimum set of Keywords: </B>C89
	has 32 keywords. These small set of keywords add power to C
	language. A large set of keywords does not mean that the language is
	more powerful.</P>
	<LI><P STYLE="margin-right: 0.08in"><B>Modular: </B>In C, we can
	divide a problem into sub problems and solve the sub problems
	individually using the concept called as functions. This makes the
	programs written in C modular.</P>
	<LI><P STYLE="margin-right: 0.08in"><B>C and C++: </B>As C++ is a
	superset of C, it inherits all the concepts in C, to which other new
	concepts have been added. So, you can know how powerful the C
	language is.</P>
</OL>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0in; page-break-before: always"><A NAME="Applications_of_C"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Applications
of C</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
The applications which can be developed using C language are
literally unlimited. Some of the types of applications which can be
developed using C language are:</P>
<OL>
	<UL>
		<LI><P STYLE="margin-top: 0in; line-height: 0.19in">Operating
		Systems</P>
		<LI><P STYLE="line-height: 0.19in">Games</P>
		<LI><P STYLE="line-height: 0.19in">Utilities</P>
		<LI><P STYLE="line-height: 0.19in">Drivers</P>
		<LI><P STYLE="margin-top: 0in; line-height: 0.19in">Graphics</P>
		<LI><P STYLE="line-height: 0.19in">Embedded System Software</P>
	</UL>
</OL>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0.14in"><A NAME="History_of_C"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>History
of C</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
The root of all modern languages is ALGOL (Algorithmic Language),
developed in the early 1960’s. ALGOL was the first language which
introduced the concept of structured programming. In 1967, Martin
Richards developed the language called BCPL (Basic Combined
Programming Language) for writing system software. In 1970, Ken
Thompson created a new language using the features from BCPL and
called it B. Both BCPL and B were typeless system programming
languages.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in">
C was developed by Dennis Ritchie in 1972 by using the features of
ALGOL, BCPL and B programming languages along with new features like
data types. For many years, C was used mainly in academic
institutions, but with the release of many C compilers for commercial
use and the increasing popularity of UNIX, it began to gain
widespread support among computer professionals. Today, C is running
under a variety of operating system and hardware platforms.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in">
The language became more popular after publication of the book, “The
C Programming Language” by Brian Kerningham and Dennis Ritchie in
1978. The book was so popular that the language came to be known as
“K&amp;R C”. The rapid growth of C led to the development of
different versions of the language that were similar but often
incompatible. This was a serious problem for system developers.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in">
In 1983, ANSI (American National Standards Institute) appointed a
technical committee to define a standard for C. The committee a
version of C in 1989 which is now known as ANSI C. It was then later
in 1990 approved by ISO (International Standards Organization). This
version of C is also referred as C89.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in">
In 1999, the standardization committee of C has added some new
features to enhance the usefulness of the language. The result was
the 1999 standard for C, which also known as C99. In 2011, some more
new features are added to the C language, which is known as C11.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
    
    
    
    
    
    
    
    
    
    {% endblock course %}