{% extends "layout.html"%}
{%block course%}
<DIV ID="TextSection" DIR="LTR">
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western"><BR>
	</P>
</DIV>
<H1 CLASS="western" STYLE="margin-left: 0in; margin-top: 0in; page-break-before: always">
<FONT COLOR="#365f91" size=10>Software
	Concepts</FONT></H1>
    
    
    
    
    
    <FONT SIZE=6>

	
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
	A computer generally consists of two components: Hardware and
	Software. The purpose of software is to use the hardware components.
	So far, we have seen the hardware components. Now, let’s learn
	about the software related concepts.</P>
	<P CLASS="western" STYLE="margin-top: 0in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-left: 0.08in"><FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Program</B></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
	A program is a set of instructions for solving a particular problem.
	Using programs a human can use the underlying hardware components
	like CPU, Memory etc.</P>
	<P CLASS="western" STYLE="margin-top: 0in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-left: 0.08in"><FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Software</B></FONT></FONT></FONT></P>
	<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
	Software is a set of programs. Computer software is divided into two
	broad categories: 1) System software and 2) Application software.
	System software manages the computer’s hardware resources. It
	provides the interface between the hardware and the users but does
	nothing for users to use the hardware. Application software, on the
	other hand, is directly responsible for helping users solve their
	problems.</P>
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western" STYLE="margin-left: 0.08in">The various types of
	software are as shown in the below diagram:</P>
</DIV>
<P CLASS="western" STYLE="margin-left: 1.1in; page-break-before: always">
<IMG SRC="{{url_for('static',filename='img/C_html_6e8e3780.png')}}" NAME="image15.png" ALIGN=BOTTOM WIDTH=505 HEIGHT=241 BORDER=0></P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: -0in; margin-top: 0.04in">
<B>System Software: </B>This consists of programs that manage the
hardware resources of a computer and perform required information
processing tasks. These programs are divided into three classes: 1)
Operating System, 2) System Support and 3) System Development.</P>
<OL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-right: 0.08in; margin-top: 0in"><B>Operating
	System: </B>Operating system provides the interface between the
	application software/user and hardware. The primary purpose of this
	software is to keep the system operating in an efficient manner    
	while allowing the users access to the system. Examples: Windows XP,
	Vista, Seven, Linux, UNIX, MAC OSX, MAC Lion etc.</P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-right: 0.08in"><B>System Support:
	</B>This provides utilities and other operating services to work
	with hardware. This software comes along with the operating system.
	Examples: Disk format software, Sort programs etc.</P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-right: 0.08in"><B>System
	Development: </B>This includes various programs that help the
	developers to create application software. Examples: Compilers,
	Interpreters, Debuggers, Linkers etc.</P>
</OL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in">
<B>Application Software: </B>This software allows the users to use
the computer for various purposes. Application software is divided
into two classes: 1) General purpose software and 2) Application
specific software.</P>
<OL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-right: 0.08in"><B>General Purpose
	Software: </B>This software can be used for more than one purpose.
	Examples: Microsoft Office Suite, Photoshop, Visual Studio etc.</P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-right: 0.08in"><B>Application
	Specific Software: </B>This software is used only for a specific
	purpose. Example: Tally, Turbo C Complier etc.</P>
</OL>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in; text-indent: 0.5in">The
relationship between hardware, system software and application
software is as shown in the below diagram:</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.19in; left: 1.2in; width: 558px"><IMG SRC="{{url_for('static',filename='img/C_html_c963cc87.png')}}" NAME="image16.png" WIDTH=558 HEIGHT=318 BORDER=0></SPAN><BR>
</P>
    <H4 CLASS="western" STYLE="page-break-before: always"><A NAME="Computer_Languages"></A>
<FONT COLOR="#365f91">Computer Languages</FONT></H4>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
To communicate with a computer, we use computer languages or also
known as programming languages. To write a program, we must use the
computer languages. A computer language is a set of predefined words
that are combined into a program according to predefined rules
(syntax). Over the years, computer languages had evolved from machine
language to high-level languages. There are generally three types of
computer languages. They are: 1) Machine Language, 2) Assembly
Language and 3) High-level languages.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in"><A NAME="Machine_Language"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Machine
Language</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
In the earliest days of computers, the only programming languages
available were machine languages. Each computer has its own machine
language which is made up of streams of 0’s and 1’s. The only
language understood by a computer is the machine language. This
language is tightly coupled with the computer hardware. It is
difficult to write and maintain code in machine language.</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.22in; left: 2.75in; width: 270px"><IMG SRC="{{url_for('static',filename='img/C_html_a73a9ea7.jpg')}}" NAME="image23.jpeg" WIDTH=270 HEIGHT=228 BORDER=0></SPAN><BR>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0.13in"><A NAME="Assembly_Language"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Assembly
Language</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
The next evolution in programming came with the idea of replacing
binary code for instruction and addresses with symbols or mnemonics.
Because they used symbols, these languages were first known as
symbolic languages. The set of these mnemonic languages were later
referred to as assembly languages. It is easy to write and maintain
programs in assembly language than in machine languages.</P>
<P CLASS="western" STYLE="margin-top: 0in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.23in; left: 1.96in; width: 415px"><IMG SRC="{{url_for('static',filename='img/C_html_5d0ed2bb.jpg')}}" NAME="image24.jpeg" WIDTH=415 HEIGHT=269 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0in; page-break-before: always"><A NAME="High-Level_Language"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>High-Level
Language</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
Although assembly languages greatly improved programming efficiency,
they still required programmers to concentrate on the hardware they
were using. Working with symbolic languages was also very tedious,
because each machine instruction had to be individually coded. The
desire to improve programmer efficiency and to change the focus from
the computer to the problem being solved led to the development of
high-level languages.</P>
<P CLASS="western" STYLE="margin-left: 0.08in">Examples of high-level
languages are:</P>
<OL>
	<LI><P>BASIC (Beginners All Purpose Symbolic Instruction Code).</P>
	<LI><P STYLE="line-height: 0.19in">FORTRAN (Formula Translation).</P>
	<LI><P STYLE="line-height: 0.19in">PL/I (Programming Language,
	Version 1).</P>
	<LI><P>ALGOL (Algorithmic Language).</P>
	<LI><P>APL (A Programming Language).</P>
	<LI><P STYLE="margin-top: 0in">COBOL (Common Business Oriented
	Language).</P>
	<LI><P STYLE="line-height: 0.19in">RPG (Report Program Generator).</P>
	<LI><P STYLE="line-height: 0.19in">LISP (List Processing).</P>
	<LI><P>Prolog (Program in Logic).</P>
</OL>
<P CLASS="western" STYLE="margin-left: 0.33in">10. C++</P>
<OL START=11>
	<LI><P STYLE="margin-top: 0in">Java</P>
	<LI><P STYLE="line-height: 0.19in">Visual Basic</P>
	<LI><P STYLE="line-height: 0.19in">C</P>
</OL>
<P CLASS="western" STYLE="margin-top: 0.01in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.14in; left: 0.92in; width: 608px"><IMG SRC="{{url_for('static',filename='img/C_html_18ea040f.png')}}" NAME="image25.png" WIDTH=608 HEIGHT=543 BORDER=0></SPAN><BR>
</P>
<H4 CLASS="western" STYLE="margin-top: 0in; page-break-before: always">
<FONT COLOR="#365f91">Translation</FONT></H4>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in"><A NAME="Translation"></A>
Programs today are normally written in one of the high-level
languages. To run the program on a computer, the program needs to be
translated into the machine language of the computer on which it will
run. The program in a high-level language is called the source
program. The translated program in machine language is called the
object program. Two methods are used for translation: <B>compilation
</B>and <B>interpretation</B>.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in"><A NAME="Translator"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Translator</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in"><A NAME="Compiler"></A>
A translator is a program, which converts the code written in one
language into another language. The widely used translators are
compilers and interpreters.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in"><FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Compiler</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in"><A NAME="Interpreter"></A>
A compiler is a translator which converts the program written in
high-level language into assembly code or into another form of
intermediate code or directly into machine code. A compiler converts
the whole source code at once into object code and then executes it.
So, compiler is faster than a interpreter.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0in"><FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Interpreter</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
An interpreter is a translator which converts the source program into
object or machine code. The interpreter converts the source code
line-by-line and executes it immediately, which results in less
performance. Thus, an interpreter is slower than a compiler.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<H4 CLASS="western" STYLE="margin-top: 0in"><A NAME="Generations_of_Programming_Languages"></A>
<FONT COLOR="#365f91">Generations of Programming Languages</FONT></H4>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
There are five generations of programming languages. There are
classified based on how close the programming language is to human
beings.</P>
<P CLASS="western" STYLE="margin-left: 0.08in"><B>First Generations
Languages (1GL): </B>The first generation language is the machine
language. It consists of only 0’s and 1’s. It is very difficult
write programs in machine language.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in">
<B>Second Generation Languages (2GL): </B>The second generation
language is the assembly language. Assembly language consists of
symbols known as mnemonics, english words rather than 0’s and 1’s.
Programs written in assembly language are converted to machine
language using a translator known as assembler.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in">
<B>Third Generation Languages (3GL): </B>The third generation
languages are high-level languages which are similar to english. It
is easy to write programs using high-level languages. Programs
written in high-level language are converted to machine language by
using a translator like compiler or interpreter. Third generation
languages are problem oriented languages. Examples: C, FORTRAN,
COBOL, PASCAL etc.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: -0in">
<B>Fourth Generation Languages (4GL): </B>The fourth generation
languages are non-procedural languages. Programmers have to specify
only what to do but not how to do it. These languages are developed
for users having minimum programming language. Examples: SQL, ABAP
etc.</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-right: 0.11in"><B>Fifth
Generation Languages (5GL): </B>The fifth generation languages are
declarative languages which are used in artificial intelligence and
expert systems. Example: Prolog etc.</P>
    
    
    
    
    
    {% endblock course %}