{% extends "layout.html"%}
{%block course%}
<DIV ID="TextSection" DIR="LTR">
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western"><BR>
	</P>
</DIV>
<H1 CLASS="western" STYLE="margin-left: 0in; margin-top: 0in; page-break-before: always">
<FONT COLOR="#365f91" size=10>Steps in Program Development</FONT></H1>
    
    
    
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.53in; margin-top: 0.03in">
A computer program is a set of formal instructions, which the
computer executes in order to carry out some designated task. Whether
that task is as simple as adding two numbers together or as complex
as maintaining a large inventory for a multi-national corporation,
there is a common element involved. They are both achieved by the
computer executing a series of instructions – <I>the computer
program</I>.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0in">
Programming can be defined as the development of a solution to an
identified problem. There are six basic steps in the development of a
program:</P>
<OL>
	<LI><P STYLE="line-height: 0.19in"><B>Define the</B><B> </B><B>problem</B></P>
</OL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in">
This step (often overlooked) involves the careful reading and
re-reading of the problem until the programmer understands completely
what is required.</P>
<OL START=2>
	<LI><P STYLE="line-height: 0.19in"><B>Outline the solution</B><B>
	</B><B>(analysis)</B></P>
</OL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in">
Once the problem has been defined, the programmer may decide to break
the problem up into smaller tasks or steps, and several solutions may
be considered. The solution outline often takes the shape of a
hierarchy or structure chart.</P>
<OL START=3>
	<LI><P STYLE="margin-top: 0in"><B>Develop the outline into an
	algorithm</B><B> </B><B>(design)</B></P>
</OL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in">
Using the solution outline developed in step 2, the programmer then
expands this into a set of precise steps (algorithm) that describe
exactly the tasks to be performed and the order in which they are to
be carried out. This step can use both structured programming
techniques and pseudocode.</P>
<OL START=4>
	<LI><P STYLE="line-height: 0.19in"><B>Code the algorithm into a
	specific programming language</B><B> </B><B>(coding)</B></P>
</OL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in">
It is only after all design considerations have been met that a
programmer should actually start to code the program. In preceding
analysis it may have been necessary to consider which language should
be used, as each has its own peculiarities (advantages and
disadvantages).</P>
<OL START=5>
	<LI><P STYLE="line-height: 0.19in"><B>Run the program on the
	computer</B><B> </B><B>(testing)</B></P>
</OL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in">
This step uses a program compiler and test data to test the code for
both syntax and logic errors. If the program is well designed then
the usual time-wasting frustration and despair often associated with
program testing are reduced to a minimum. This step will often need
to be done several times until the programmer is satisfied that the
program is running as required.</P>
<OL START=6>
	<LI><P><B>Document and maintain the program</B><B> </B><B>(documentation)</B></P>
</OL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in">
Program documentation should not be just listed as the last step in
the development process, as it is an ongoing task from the initial
definition of the problem to the final test results. Documentation
also involves maintenance - the changes that are made to a program,
often by another programmer, during the life of that program. The
better a program has been documented and the logic understood, the
easier it is for another to make changes.</P>
<H4 CLASS="western" STYLE="page-break-before: always"><FONT COLOR="#365f91">Algorithm</FONT></H4>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0.17in"><A NAME="Definition"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Definition</B></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0.03in">An
algorithm is a finite sequence of step by step, discrete, unambiguous
instructions for solving a particular problem.</P>
<P CLASS="western" ALIGN=CENTER>Or</P>
<P CLASS="western" STYLE="margin-left: 0.08in">Algorithm is a
step-by-step procedure for solving a particular problem.</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 0.19in">Or</P>
<P CLASS="western" STYLE="margin-left: 0.08in; line-height: 0.19in">An
algorithm is an ordered set of unambiguous executable steps, defining
a terminating process.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in">
An algorithm, named after 9<SUP>th</SUP> centaury Persian
mathematician al-Khowarazmi, is simply a set of rules for carrying
out some calculation, either by hand, or, more usually, on a machine.
An algorithm is like a recipe.
It lists the steps involved in accomplishing a task. It can be
defined in programming terms as a set of detailed, unambiguous and
ordered instructions developed to describe the processes necessary to
produce the desired output from the given input. The algorithm is
written in simple English and is not a formalized procedure, however
to be useful there are some principles which should be adhered to. An
algorithm must:</P>
<OL>
	<LI><P STYLE="line-height: 0.19in">Be
	precise and unambiguous</P>
	<LI><P>Give the correct
	solution in all cases
	and</P>
	<LI><P>Eventually
	end.</P>
</OL>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in">Algorithms can be
represented in different ways. They are:</P>
<OL>
	<LI><P>Natural languages</P>
	<LI><P>Pseudocode</P>
	<LI><P STYLE="margin-top: 0in; line-height: 0.19in">Flowcharts</P>
	<LI><P STYLE="line-height: 0.19in">Control tables</P>
</OL>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in"><A NAME="Pseudocode"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Pseudocode</B></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
Pseudocode is easy to read and
write, as it represents the statements of an algorithm in English.
Pseudocode is really structured English. It is English which has been
formalised and abbreviated to look very like a high-level computer
language.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in; margin-top: 0in">
There is currently no standard pseudocode. Different textbook authors
seem to adopt their own special techniques and set of rules, which
often resemble a particular programming language. But as a guideline,
try the following conventions:</P>
<OL>
	<LI><P STYLE="line-height: 0.19in">Statements are written in simple
	English.</P>
	<LI><P>Each instruction is written on a separate line.</P>
	<LI><P>Keywords and indentation are used to signify particular
	control structures.</P>
	<LI><P>Groups of statements may be formed into modules and that
	group given a name.</P>
</OL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: 0.5in">
If a programmer uses words and phrases in his or her pseudocode that
are in line with basic computer operations, then the translation from
the pseudocode algorithm to a specific programming language becomes
quite simple. We could break down the computers operations into six
basic operations and represent these operations in pseudocode. Each
operation can be represented as an English instruction with keywords
and indentation to signify a particular control structure:</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<OL>
	<LI><P STYLE="margin-right: 0.08in"><B>A computer can receive
	information </B>– when a computer is required to receive
	information or input from a particular source, whether it is a
	keyboard, disk or other source, the verbs <I>Read </I>and <I>Get </I>can
	be used</P>
</OL>
<P CLASS="western" STYLE="margin-left: 0.58in; margin-right: 5.64in; text-indent: -0.5in">
e.g.	Read student name Get system date</P>
<P CLASS="western" STYLE="margin-left: 0.58in; line-height: 0.19in">Read
number_1, number_2</P>
<P CLASS="western" STYLE="margin-top: 0in; page-break-before: always">
<BR>
</P>
<OL START=2>
	<LI><P ALIGN=JUSTIFY STYLE="margin-right: 0.08in; margin-top: 0.04in">
	<B>A computer can put out information </B>– when a computer is
	required to supply information or output to a device the verbs
	<I>Print</I>, <I>Write </I>or <I>Put </I>could be used</P>
</OL>
<P CLASS="western" STYLE="margin-left: 0.58in; margin-right: 5.15in; text-indent: -0.5in">
e.g.	Print student number Write ’Program completed’</P>
<P CLASS="western" STYLE="margin-left: 0.58in; margin-right: 4.56in">Write
customer record to master file Put out name, address, postcode</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<OL START=3>
	<LI><P ALIGN=JUSTIFY STYLE="margin-right: 0.08in"><B>A computer can
	perform arithmetic </B>– most programs require the computer to
	perform some sort of mathematical calculation, or formula. You could
	use actual mathematical symbols or the words for those symbols</P>
</OL>
<P CLASS="western" STYLE="margin-left: 0.58in; margin-right: 5.42in; text-indent: -0.5in">
e.g.	Add Number to Total Total = Total + Number</P>
<P CLASS="western" STYLE="margin-left: 0.58in; margin-right: 4.66in">Divide
Totalmarks by Studentcount SalesTax = Costprice * 0.10 Compute C = (F
– 32) * 5/9</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<OL START=4>
	<LI><P ALIGN=JUSTIFY STYLE="margin-right: 0.08in"><B>A computer can
	assign a value to a piece of data </B>– there are many cases where
	a programmer will need to assign a value to a piece of information.
	Firstly to give data an initial value in pseudocode the verbs,
	<I>Initialise </I>or <I>Set </I>can be used. Secondly to assign a
	value as a result of some processing, the symbol “=” is written.
	Thirdly, to keep a piece of information for later use the verbs <I>Save
	</I>or <I>Store </I>could be used</P>
</OL>
<P CLASS="western" STYLE="margin-left: 0.58in; margin-right: 4.66in; text-indent: -0.47in">
e.g.	Initialise total accumulators to zero Set StudentCount to 0</P>
<P CLASS="western" STYLE="margin-left: 0.58in">TotalPrice = CostPrice
+ SalesTax</P>
<P CLASS="western" STYLE="margin-left: 0.58in">Store CustomerNumber
in LastCustomerNumber</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<OL START=5>
	<LI><P ALIGN=JUSTIFY STYLE="margin-right: 0.08in"><B>A computer can
	compare two pieces of information and select one of two alternatives
	</B>– an important ability is the comparison of two pieces of
	information and then as a result of the comparison select on of two
	alternate actions. To represent this operation in pseudocode the
	keywords IF, THEN and ELSE can be used</P>
</OL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.12in; margin-top: 0in">
e.g. IF student is parttime THEN</P>
<P CLASS="western" STYLE="margin-left: 1.08in">Add 1 to parttimecount</P>
<DIV ID="Section2" DIR="LTR" GUTTER=3 STYLE="column-count: 2">
	<P CLASS="western" STYLE="margin-left: 0.58in; line-height: 0.19in">ELSE</P>
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western" STYLE="margin-left: 0.58in">ENDIF</P>
	<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-left: 0.1in">Add 1 to fulltimecount</P>
</DIV>
<DIV ID="Section3" DIR="LTR">
	<P CLASS="western" STYLE="margin-left: 0.08in">Note the use of
	indentation to emphasize the THEN and ELSE options and the use of
	the delimiter ENDIF to close the operation.</P>
	<P CLASS="western" STYLE="margin-top: 0in"><BR>
	</P>
	<OL START=6>
		<LI><P STYLE="margin-right: 0.08in"><B>A computer can repeat a
		group of actions </B>– when there is a sequence of steps which
		need to be repeated, the keywords DOWHILE and ENDDO could be used</P>
	</OL>
	<P CLASS="western" STYLE="margin-left: 0.12in; margin-top: 0in">e.g.	DOWHILE
	studenttotal &lt; 50</P>
	<P CLASS="western" STYLE="margin-left: 1.08in">Read student record</P>
	<P CLASS="western" STYLE="margin-left: 1.08in; margin-right: 3.94in">
	Write student name, address to report Add 1 to Studenttotal</P>
	<P CLASS="western" STYLE="margin-left: 0.58in; line-height: 0.19in">ENDDO</P>
	<P CLASS="western" STYLE="margin-left: 0.08in">Once again note the
	use of indentation. It is easy to read where the loop starts and
	ends. Alternatives to the above could be WHILE and ENDWHILE.</P>
</DIV>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-top: 0in; page-break-before: always">
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Flowchart</B></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.08in; text-indent: 0.5in; margin-top: 0.03in">
A flowchart is a diagrammatic or pictorial or visual representation
of an algorithm. It is a diagram which consists of various graphic
symbols for representing the nature and flow of steps in a program or
process.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; line-height: 0.19in">
The fundamental or basic elements in a flowchart are:</P>
<OL>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 0.19in">Start/Stop symbol</P>
	<LI><P ALIGN=JUSTIFY>Input/output symbol</P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-top: 0in">Process symbol</P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 0.19in">Decision or Test
	symbol</P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 0.19in">Loop symbol</P>
	<LI><P ALIGN=JUSTIFY>Connector symbol</P>
</OL>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; margin-top: 0in">
<B>Start/Stop symbol: </B>The start and end symbols indicate the
beginning and the end of the flowchart. This symbol looks like a flat
oval. Only one flow line is combined with this kind of symbol.
Generally this symbol is used twice in a flowchart, that is, at the
beginning and at the end. The start/stop symbol is as shown below:</P>
<P CLASS="western" STYLE="margin-left: 1.91in"><IMG SRC="{{url_for('static',filename='img/C_html_9cdab0bd.png')}}" NAME="image26.png" ALIGN=BOTTOM WIDTH=349 HEIGHT=125 BORDER=0></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in">
<B>Input/output symbol: </B>The input/output symbol looks like a
parallelogram as shown below. This symbol is used to input and output
the data. There are two flow lines connected with the input/output
symbol. One line comes to this symbol and the other line goes out
from this symbol.</P>
<P CLASS="western" STYLE="margin-left: 2.1in"><IMG SRC="{{url_for('static',filename='img/C_html_25d60fea.png')}}" NAME="image27.png" ALIGN=BOTTOM WIDTH=314 HEIGHT=138 BORDER=0></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in">
<B>Process Symbol: </B>The process symbol looks like a rectangle. It
is used for data processing and assigning values to variables. The
operations mentioned within the rectangular block will be executed
when this kind of block is entered in the flowchart. There are two
flow lines associated with this symbol. The process symbol is as
shown below:</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.19in; left: 3.38in; width: 147px"><IMG SRC="{{url_for('static',filename='img/C_html_5ed4a9ba.png')}}" NAME="image28.png" WIDTH=147 HEIGHT=187 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in">
<B>Decision/Test symbol: </B>The decision symbol is like a
diamond/rhombus. This symbol is used to take one of the decisions.
Depending on the condition the decision block selects one of the
alternatives. While solving a problem, one can take a single
alternative or two or multiple alternatives, depending on the
situation. A single alternative decision symbol is shown below:</P>
<P CLASS="western" STYLE="margin-left: 2.08in; page-break-before: always">
<IMG SRC="{{url_for('static',filename='img/C_html_3efb3ad9.png')}}" NAME="image29.png" ALIGN=BOTTOM WIDTH=317 HEIGHT=248 BORDER=0></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in; text-indent: -0in">
<B>Loop Symbol: </B>This symbol looks like a hexagon. This symbol is
used for implementing loops. Four flow lines are associated with this
symbol. Two lines are used to indicate the sequence of the program
and the remaining two are used to show the looping area, that is from
the beginning to the end. Loop symbol is as shown below:</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.19in; left: 2.71in; width: 274px"><IMG SRC="{{url_for('static',filename='img/C_html_248e315.png')}}" NAME="image30.png" WIDTH=274 HEIGHT=302 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.08in; margin-right: 0.08in">
<B>Connector Symbol: </B>The connector symbol is a circle. It is used
to establish the connection whenever it is impossible to directly
join two parts in a flowchart. Quite often, the two parts of the
flowchart may be on two separate pages. In such case, a connector can
be used for joining the two parts. Only one flow line is associated
with this symbol. It is as shown below:</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.19in; left: 3.05in; width: 207px"><IMG SRC="{{url_for('static',filename='img/C_html_31be85ed.png')}}" NAME="image31.png" WIDTH=207 HEIGHT=172 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0in; page-break-before: always"><A NAME="Examples:"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><FONT SIZE=3 STYLE="font-size: 18pt"><B>Examples:</B></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0.03in"><B>Problem:
Write an algorithm for adding two integers.</B></P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in"><A NAME="Algorithm"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><B>Algorithm</B></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0.03in">Algorithm:
Add(x,y)</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-right: 5.69in">To
add two integer x and y Inputs: x and y</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-right: 5.91in">Output:
Sum of x and y Start</P>
<P CLASS="western" STYLE="margin-left: 0.58in; margin-right: 4.75in">1:	Read
two integers x and y 2:	Set sum = 0</P>
<P CLASS="western" STYLE="margin-left: 0.58in">3:	sum = x + y</P>
<P CLASS="western" STYLE="margin-left: 0.58in; line-height: 0.19in">4:	Display
sum</P>
<P CLASS="western" STYLE="margin-left: 0.08in; line-height: 0.19in">Stop</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0.16in"><A NAME="Flowchart"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><B>Flowchart</B></FONT></FONT></P>
<P CLASS="western"><BR>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.24in; left: 3.42in; width: 134px"><IMG SRC="{{url_for('static',filename='img/C_html_759ef828.png')}}" NAME="image32.png" WIDTH=134 HEIGHT=334 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0in; page-break-before: always">
Problem: Write an algorithm to find the greatest number among two
integers.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.08in"><A NAME="Algorithm_(1)"></A>
<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><B>Algorithm</B></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0.03in">Algorithm:
Greatest(x,y)</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-right: 4.84in">To
find the greatest among two integers Inputs: x and y</P>
<P CLASS="western" STYLE="margin-left: 0.08in; margin-right: 4.87in; margin-top: 0in">
Output: Greatest integer among x and y Start</P>
<P CLASS="western" STYLE="margin-left: 0.58in; margin-right: 4.68in">1:	Read
two integers x and y 2:	IF x is greater than y THEN:</P>
<P CLASS="western" STYLE="margin-left: 1.58in">2.1:	Display “X is
greater”</P>
<DIV ID="Section4" DIR="LTR" GUTTER=3 STYLE="column-count: 3">
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-left: 0.08in; margin-top: 0in">Stop</P>
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western" STYLE="margin-top: 0in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-left: 0.08in"><A NAME="Flowchart_(1)"></A>
	<FONT COLOR="#4f81bd"><FONT FACE="Cambria, serif"><B>Flowchart</B></FONT></FONT></P>
	<P CLASS="western" STYLE="margin-left: 0.08in; text-indent: -0in; line-height: 200%">
	ELSE END IF</P>
	<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-left: 0.06in">2.1:	Display “Y is
	greater”</P>
</DIV>
<DIV ID="Section5" DIR="LTR">
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-left: 1.73in"><IMG SRC="{{url_for('static',filename='img/C_html_64e25b6d.png')}}" NAME="image33.png" ALIGN=BOTTOM WIDTH=376 HEIGHT=403 BORDER=0></P>
</DIV>
    
    
    
    
    
    
    
    
    {% endblock course %}