{% extends "layout.html"%}
{%block course%}

<DIV TYPE=HEADER>
	<P CLASS="western" STYLE="margin-bottom: 0.37in; line-height: 5%"><SPAN DIR="LTR" STYLE="position: absolute; top: 0.51in; left: 0.99in; width: 1.62in; height: 0.18in; border: none; padding: 0in; background: #ffffff">
		<P STYLE="margin-left: 0.01in; line-height: 0.17in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Calibri, serif">Introduction to Java</FONT></FONT></P>
	</SPAN>
	<SPAN DIR="LTR" STYLE="position: absolute; top: 0.51in; left: 6.11in; width: 1.17in; height: 0.18in; border: none; padding: 0in; background: #ffffff">
	
	</SPAN><BR>
	</P>
</DIV>





<H2 CLASS="western" STYLE="margin-top: 0in"><BR CLEAR=LEFT><FONT COLOR="#17365d">Access
Control</FONT></H2>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.09in; line-height: 91%">
Access control is a mechanism, an attribute of encapsulation which
restricts the access of certain members of a class to specific parts
of a program. Access to members of a class can be controlled using
the access modifiers. There are four access modifiers in Java. They
are:</P>
<UL>
	<LI><P STYLE="margin-top: 0.12in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">public</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">protected</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">default</FONT></FONT></P>
</UL>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<UL>
	<LI><P STYLE="line-height: 0.4in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">private</FONT></FONT></P>
</UL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.13in; line-height: 91%">
If the member (variable or method) is not marked as either public or
protected or private, the access modifier for that member will be
default. We can apply access modifiers to classes also. Among the
four access modifiers, private is the most restrictive access
modifier and public is the least restrictive access modifier. Syntax
for declaring a access modifier is shown below:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.08in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">access-modifier
data-type</FONT></FONT></FONT><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">
</FONT></FONT></FONT><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">variable-name;</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.18in">Example
for declaring a private integer variable is shown below:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.06in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">private
int side;</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.2in; line-height: 91%">
In a similar way we can apply access modifiers to methods or classes
although private classes are less common.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.14in; line-height: 91%">
<B>Note: </B>Packages and inheritance will be discussed in another
article in future. So, I will defer the explanation of protected to
packages article as protected is useful only when there is
inheritance.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.12in">
Accessibility restrictions of the four access modifiers is as shown
below:</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.24in; left: 1.78in; width: 447px"><IMG SRC="{{url_for('static',filename='img/JAVAFULL_MERGE_1__html_f25db2c.jpg')}}" NAME="image51.jpeg" WIDTH=447 HEIGHT=268 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<H5 CLASS="western" STYLE="line-height: 0.37in">What is the use of
access modifiers?</H5>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.13in; line-height: 91%">
As I had said above, access modifiers are used to restrict the access
of members of a class, in particular data members (fields). Let me
explain this through Java code. Let’s consider an employee class as
shown below:</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.12in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>class Employee</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>int
empid;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; margin-right: 4.85in; margin-top: 0in; line-height: 91%">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>String empname;
float salary;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>//Methods
which operate on above data members</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; line-height: 91%">
By looking at the above code we can say that the access modifier for
all the three data members is default. As members with default (also
known as Package Private or no modifier) access modifier are
accessible throughout the package (in other classes), a programmer
might, by mistake, try to make an employee’s salary negative as
shown below:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 4.48in; margin-top: 0.12in; line-height: 125%">
Employee e1 = new Employee(); e1.salary = -1000.00;</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.02in; line-height: 91%">
Although above code is syntactically correct, it is logically
incorrect. To prevent such things to happen, in general, all the data
members are declared private and are accessible only through public
methods. So, we can modify our Employee class as shown below:</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.12in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>class Employee</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; margin-right: 4.93in; line-height: 91%">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>private int empid;
private String emp;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>private
float salary;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>public
void setSalary(float sal)</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>if(sal
&amp;lt; 0)</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<DIV ID="Section17" DIR="LTR" GUTTER=3 STYLE="column-count: 2">
	<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
	</P>
	<P CLASS="western" ALIGN=RIGHT STYLE="margin-right: 0.16in; margin-top: 0in; line-height: 0.34in">
	<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
	<P CLASS="western" ALIGN=RIGHT STYLE="line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>else</FONT></FONT></P>
	<P CLASS="western" ALIGN=RIGHT STYLE="margin-right: 0.16in; line-height: 0.34in">
	<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
	<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
	</P>
	<P CLASS="western" ALIGN=RIGHT STYLE="margin-right: 0.16in; line-height: 0.34in">
	<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
	<P CLASS="western" ALIGN=CENTER STYLE="margin-right: 0.06in; line-height: 0.34in">
	<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
	<P CLASS="western" STYLE="margin-left: 0.26in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>System.out.println(&quot;Salary
	cannot be negative&quot;);</FONT></FONT></P>
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western"><BR>
	</P>
	<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
	</P>
	<P CLASS="western" STYLE="margin-left: 0.26in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>salary
	= sal;</FONT></FONT></P>
</DIV>
<DIV ID="Section18" DIR="LTR">
	<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>//Other
	methods</FONT></FONT></P>
	<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
	<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 91%">By
	looking at the above code, we can say that one can access the salary
	field only through setSalary() method. Now, we can set the salary of
	an employee as shown below:</P>
	<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.12in">Employee
	e1 = new Employee();</P>
	<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 2.01in; margin-top: 0.11in; line-height: 125%">
	e1.setSalary(-1000.00); //Gives error as salary cannot be negative
	e1.setSalary(2000.00); //salary of e1 will be assigned 2000.00</P>
	<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0in">The
	modified Employee class is the best way of writing programs in Java.</P>
</DIV>







<DIV TYPE=FOOTER>
	<P CLASS="western" STYLE="margin-top: 0.1in; line-height: 5%"><BR>
	</P>
</DIV>
    
    
    
{% endblock course %}