{% extends "layout.html"%}
{%block course%}

<DIV TYPE=HEADER>
	<P CLASS="western" STYLE="margin-bottom: 0.37in; line-height: 5%"><SPAN DIR="LTR" STYLE="position: absolute; top: 0.51in; left: 0.99in; width: 1.62in; height: 0.18in; border: none; padding: 0in; background: #ffffff">
		<P STYLE="margin-left: 0.01in; line-height: 0.17in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Calibri, serif">Introduction to Java</FONT></FONT></P>
	</SPAN>
	<SPAN DIR="LTR" STYLE="position: absolute; top: 0.51in; left: 6.11in; width: 1.17in; height: 0.18in; border: none; padding: 0in; background: #ffffff">
	
	</SPAN><BR>
	</P>
</DIV>




<H2 CLASS="western" STYLE="margin-top: 0.07in"><BR CLEAR=LEFT><FONT COLOR="#17365d">Arrays</FONT></H2>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.09in; line-height: 91%">
An array is a set of homogeneous variables sharing the same name.
Homogeneous in the sense, all the elements in the array must be of
the same data type. All the elements of an array are stored
side-by-side in the memory. Arrays are generally used when there is a
need to manipulate a set of logically related data elements.
Individual elements of an array are referred using an index value or
also known as subscript. The index value of an array always starts
from zero.</P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<H5 CLASS="western" STYLE="line-height: 0.37in">One-Dimensional
Arrays</H5>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.13in; line-height: 91%">
An array can be one-dimensional, two-dimensional or
multi-dimensional. Creation of a one- dimensional array is a two step
process. First, we have to create an array variable and second; we
have to use the new operator to allocate memory for the array
elements.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.12in">
Syntax for declaring an array variable is as shown below:</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.06in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">data-type
array-name[ ];</FONT></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.18in">
Example for declaring an array is shown below:</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.06in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">int
a[ ];</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.2in; line-height: 91%">
In the above example, int is the data type and a is the array name.
One pair of square brackets ([ ]) indicates that the array is
one-dimensional.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.12in">
Syntax for allocating memory for the array elements is as shown
below:</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.06in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">array-name
= new data-type[size];</FONT></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.18in">
Example for allocating memory for the array elements is shown below:</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.06in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">a
= new int[10];</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.2in; line-height: 91%">
In the above example, new is a keyword which allocates memory for 10
elements of the type int. In Java, all the arrays are allocated
memory dynamically at runtime.</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.12in">Two
steps for creating an array can be combined into a single step as
shown below:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.06in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">int
a[ ] = new int[10];</FONT></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; text-indent: -0in; margin-top: 0.2in; line-height: 91%">
<B>Array Initialization: </B>Assigning values into array locations is
known as array initialization. Array initialization can be static or
dynamic. Static initialization involves specifying values at the time
of declaring an array as shown below:</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.08in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">int
a[ ] = {1,2,3,4,5,6,7,8,9,10};</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.35in">When
the above line is executed, an array of size 10 is created by JVM as
shown in the below</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">figure:</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.27in; left: 1.54in; width: 538px"><IMG SRC="{{url_for('static',filename='img/JAVAFULL_MERGE_1__html_651c7b1e.jpg')}}" NAME="image46.jpeg" WIDTH=538 HEIGHT=365 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; line-height: 91%">
Note that, position of 1 in the array is 1, whereas index or
subscript of element 1 is 0. In general, the index or subscript of
Nth element is N-1.</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.14in; line-height: 91%">
Dynamic initialization involves assigning values into an array at
runtime. Following code segment demonstrates dynamic initialization
of arrays:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.11in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>int a[] = new
int[10];</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 3.94in; margin-top: 0.01in; line-height: 91%">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>Scanner input = new
Scanner(System.in); for(int i = 0; i &lt; 10; i++)</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; margin-right: 2.75in; line-height: 91%">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>System.out.println(“Enter
element number “+(i+1)+” : “); a[i] = input.nextInt();</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.35in"><B>Note:
</B>By default, when an array is created, all the elements of numeric
type are initialized to</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.01in; line-height: 91%">
zero, all elements of boolean type are initialized to false, all
elements of type char are initialized to ‘\u0000’ and all
reference types are initialized to null.</P>
<H5 CLASS="western" STYLE="margin-top: 0.12in">Accessing Array
Elements:</H5>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.13in; line-height: 91%">
Individual elements of an array can be accessed using the index or
subscript. In Java, the subscript always begins at zero. So, the
first element of an array a can be accessed as a[0] and second
element with a[1] and so on Nth element can be accessed with a[N-1].</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<H5 CLASS="western">Two-Dimensional Arrays</H5>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.13in; line-height: 91%">
A two-dimensional array can be indicated by specifying two pairs of
square brackets ([ ]) while declaring an array. A two-dimensional
array can be created as shown below:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.08in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">int
a[ ][ ] = new int[3][3];</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.2in; line-height: 91%">
Above line creates an array with 3 rows and 3 columns (matrix) with a
size of 3*3 = 9. So, the above array a is capable of storing 9
integer elements.</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.14in; line-height: 91%">
We can also declare a two-dimensional array by specifying only the
number of rows as shown below:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.08in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">int
a[ ][ ] = new int[3][ ];</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.18in">We
can specify the number of columns for each row as shown below:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.06in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">a[0]
= new</FONT></FONT></FONT><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">
</FONT></FONT></FONT><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">int[3];</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.24in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">a[1]
= new</FONT></FONT></FONT><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">
</FONT></FONT></FONT><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">int[3];</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.24in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">a[2]
= new</FONT></FONT></FONT><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">
</FONT></FONT></FONT><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">int[3];</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.2in; line-height: 91%">
So, by looking at the above example, we can say that a
multi-dimensional array (2-D, 3-D, …, N-D) is an array of arrays.</P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.35in">The
above way of declaration can be used to create uneven arrays which
contain unequal</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">number
of columns for each row. Such kind of arrays is also known as jagged
arrays.</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.13in; line-height: 91%">
Individual elements of a two-dimensional array can be accessed by
specifying both row- index and column-index as shown in the below
figure:</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.28in; left: 2.38in; width: 349px"><IMG SRC="{{url_for('static',filename='img/JAVAFULL_MERGE_1__html_1d286553.jpg')}}" NAME="image47.jpeg" WIDTH=349 HEIGHT=241 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<H5 CLASS="western" ALIGN=JUSTIFY>Alternative Array Declaration
Syntax</H5>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.11in">
Java supports another way to declare arrays as shown below:</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.06in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">data-type[
] array-name = new data-type[size];</FONT></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.18in">
Example for declaring arrays using the above syntax is shown below:</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.06in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">int[
] a = new int[10];</FONT></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.2in; line-height: 91%">
You might think what is the need for this alternative way of
declaring an array? For example, you might want to declare three
one-dimensional arrays. You can do it using the conventional syntax
like:</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.08in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">int
a[ ], b[ ], c[ ];</FONT></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.18in">
Instead, you can use the alternative syntax like:</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.06in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">int[
] a, b, c;</FONT></FONT></FONT></FONT></P>









<DIV TYPE=FOOTER>
	<P CLASS="western" STYLE="margin-top: 0.1in; line-height: 5%"><BR>
	</P>
</DIV>
    
    
    
{% endblock course %}