{% extends "layout.html"%}
{%block course%}

<DIV TYPE=HEADER>
	<P CLASS="western" STYLE="margin-bottom: 0.37in; line-height: 5%"><SPAN DIR="LTR" STYLE="position: absolute; top: 0.51in; left: 0.99in; width: 1.62in; height: 0.18in; border: none; padding: 0in; background: #ffffff">
		<P STYLE="margin-left: 0.01in; line-height: 0.17in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Calibri, serif">Introduction to Java</FONT></FONT></P>
	</SPAN>
	<SPAN DIR="LTR" STYLE="position: absolute; top: 0.51in; left: 6.11in; width: 1.17in; height: 0.18in; border: none; padding: 0in; background: #ffffff">
	
	</SPAN><BR>
	</P>
</DIV>





<H2 CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0in"><BR CLEAR=LEFT><FONT COLOR="#17365d">Comments</FONT></H2>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.09in; line-height: 91%">
Writing comments is considered a good programming practice. They will
help the client programmers to understand the programs developed by
you.</P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.35in">Java
comments can be a single line or multiple lines of text which are
written by the</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.01in; line-height: 91%">
programmers for documentation purpose. A programmer can write
comments to mention the purpose of the program or a part of the
program or to provide authorship details.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<H5 CLASS="western" STYLE="margin-top: 0in">Need for comments</H5>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.11in">Following
are some of the famous reasons for writing comments in programs:</P>
<UL>
	<LI><P CLASS="western" STYLE="margin-right: 0.32in; margin-top: 0.13in; line-height: 91%">
	<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Provide
	the purpose of the program along with sample input and output of the
	program.</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.12in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Provide
	authorship</FONT><FONT SIZE=4 STYLE="font-size: 16pt"> </FONT><FONT SIZE=4 STYLE="font-size: 16pt">details.</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Mention
	date and time of creation of the program and when it was last</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">modified.</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Provide
	details about several parts of the</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">program.</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">For
	generating documentation which will be helpful for other</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">programmers.</FONT></FONT></P>
</UL>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in">Types of comments</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.11in">In
Java, there are three types of comments. They are:</P>
<UL>
	<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Single
	line</FONT><FONT SIZE=4 STYLE="font-size: 16pt"> </FONT><FONT SIZE=4 STYLE="font-size: 16pt">comments</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Multi-line</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">comments</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">javadoc</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">comments</FONT></FONT></P>
</UL>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.35in">A
single line comment as the name implies is a comment containing a
single line of text. A</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.01in; line-height: 91%">
single line comment starts with //. All the characters after the //
to the end of the line is treated as a comment. Syntax for single
line comment is as shown below:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.08in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">//
This is a single line comment</FONT></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.2in; line-height: 91%">
To write a comment containing more than one line, we can use a
multi-line comment. A multi-line comment starts with /* and ends with
*/. Syntax for writing a multi-line comment is as shown below:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 5.53in; margin-top: 0.08in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">/*
This is a multi-line comment */</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.18in">We
can use a multi-line comment for writing a single line comment as
shown below:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.06in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">/*
This is a single line comment. */</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.2in; line-height: 91%">
Both single line comments and multi-line comments can be written
anywhere in the program.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.14in; line-height: 91%">
The third type of comments called javadoc comments can be used to
generate HTML documentation which can be viewed using a browser. This
can help the client programmers to understand the classes that you
create. A javadoc comment starts with /** and ends with</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">*/.
Syntax for writing a javadoc comment is as shown below:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.06in; line-height: 0.24in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">/**</FONT></FONT></FONT></FONT></P>
<UL>
	<LI><P CLASS="western" STYLE="line-height: 0.24in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">This
	is</FONT></FONT></FONT><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">
	</FONT></FONT></FONT><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">a</FONT></FONT></FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0in; line-height: 0.24in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">javadoc</FONT></FONT></FONT><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">
	</FONT></FONT></FONT><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">comment</FONT></FONT></FONT></FONT></P>
</UL>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.24in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">*/</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.2in; line-height: 91%">
Note that * is not necessary before each line of text. It is widely
accepted usage of javadoc comments by Java developers. Generally
javadoc comments are written at the top of the</P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.35in">program.
Comments which are written before a class declaration are known as
header</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">comments.</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.13in; line-height: 91%">
We can mention several types of specific information like author
name, parameters of a function, return value of a method and many
more using a javadoc comment.</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.14in; line-height: 91%">
One thing to remember about comments is, they cannot be nested. For
example, the following is a incorrect way of writing comments:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.08in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">//This
is a //bad single line</FONT></FONT></FONT><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">
</FONT></FONT></FONT><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">comment</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.2in; line-height: 91%">
Every comment started using a beginning marker must be closed with a
ending marker. Following is an example of wrong way of writing
comments:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.08in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">/*</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 5.97in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">This
is a bad</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 5.6in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">multi-line
comment /</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.18in">Note
that in the above example, the ending marker should be */.</P>








<DIV TYPE=FOOTER>
	<P CLASS="western" STYLE="margin-top: 0.1in; line-height: 5%"><BR>
	</P>
</DIV>
    
    
    
{% endblock course %}