{% extends "layout.html"%}
{%block course%}

<DIV TYPE=HEADER>
	<P CLASS="western" STYLE="margin-bottom: 0.37in; line-height: 5%"><SPAN DIR="LTR" STYLE="position: absolute; top: 0.51in; left: 0.99in; width: 1.62in; height: 0.18in; border: none; padding: 0in; background: #ffffff">
		<P STYLE="margin-left: 0.01in; line-height: 0.17in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Calibri, serif">Introduction to Java</FONT></FONT></P>
	</SPAN>
	<SPAN DIR="LTR" STYLE="position: absolute; top: 0.51in; left: 6.11in; width: 1.17in; height: 0.18in; border: none; padding: 0in; background: #ffffff">
	
	</SPAN><BR>
	</P>
</DIV>






<H2 CLASS="western" STYLE="page-break-before: always"><BR CLEAR=LEFT><FONT COLOR="#17365d">Constructors</FONT></H2>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.09in; line-height: 91%">
A constructor is a special method which has the same name as class
name and that is used to initialize the objects (fields of an object)
of a class. A constructor has the following characteristics:</P>
<UL>
	<LI><P CLASS="western" STYLE="margin-top: 0.12in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Constructor
	has the same name as the class in which it is</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">defined.</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-right: 0.32in; margin-top: 0.13in; line-height: 91%">
	<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Constructor
	doesn’t have a return type, not even void. Implicit return type
	for a constructor is the class</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">name.</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-right: 1.87in; margin-top: 0.12in; line-height: 125%">
	<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Constructor
	is generally used to initialize the objects of a class. Syntax for
	creating a constructor is as shown</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">below:</FONT></FONT></P>
</UL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>ClassName(
[Parameters List] )</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>//Code
of the constructor</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<H5 CLASS="western" STYLE="line-height: 0.37in">Use of Constructors:</H5>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.13in; line-height: 91%">
A constructor is used for initializing (assigning values to fields)
the objects of a class. Can’t we use normal methods for
initializing the fields of an object? Why do we require constructors?
To make it clear what is the need for constructors, let’s consider
an example of where we want to develop a Tic-Tac-Toe game as shown
below:</P>
<P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; page-break-before: always">
<BR><BR>
</P>
<P CLASS="western" STYLE="margin-left: 1.3in"><IMG SRC="{{url_for('static',filename='img/JAVAFULL_MERGE_1__html_d378e69c.jpg')}}" NAME="image48.jpeg" ALIGN=BOTTOM WIDTH=374 HEIGHT=256 BORDER=0></P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.35in">To
make it simple, let’s not consider how to display graphics. We will
consider only the</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.01in; line-height: 91%">
general details. If you look at the above picture, we have to display
a canvas or board (for example) which contains 3×3 = 9 squares. To
display the canvas with 9 squares, let’s consider the following
class definition:</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.12in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>class TicTacToe</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>Square
block1, block2, … , block9;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; margin-right: 5.27in; margin-top: 0in; line-height: 91%">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>//Other fields void
display()</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; margin-right: 4.26in; line-height: 91%">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>block1 = new
Square(); block1.createBlock();</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>//Code
for rest of the 8 blocks, block2, block3, … , block9</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>//Code
to arrange the blocks as a 3x3 matrix</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.31in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>//Other
code</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">The
Square class will be something as shown below:</P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>class
Square</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>int
side;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>void
createBlock()</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>side
= 4;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>//Code
for creating square</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">The
driver program (which executes our logic classes) will be as shown
below:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.1in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>class Game</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>public
static void main(String[] args)</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; margin-right: 3.45in; line-height: 91%">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>TicTacToe board =
new TicTacToe(); board.display();</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>//Other
code</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.36in">If
you look at the above program, the task of display() method is to
create 9 square blocks by</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.01in; line-height: 91%">
internally calling createBlock() method of Square class. This whole
process can be seen as initializing the board. Every time, when
someone wants to play the game, the board has to be initialized
(square blocks have to be created and displayed to the user). To make
the initialization process simple, constructors have been introduced
whose sole purpose is to initialize the object. Now, let’s modify
our previous classes to include constructors. The code is shown
below:</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.12in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>class TicTacToe</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>Square
block1, block2, … , block9;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; margin-right: 5.27in; margin-top: 0in; line-height: 91%">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>//Other fields
TicTacToe()</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>block1
= new Square();</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>//Code
for rest of the 8 blocks, block2, block3, … , block9</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>//Code
to arrange the blocks as a 3x3 matrix</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>//Other
code</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">The
Square class will be as shown below:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.1in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>class Square</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; margin-right: 5.58in; line-height: 91%">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>int side;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; margin-right: 5.58in; line-height: 91%">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>Square()</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.31in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>side
= 4;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>//Code
for creating square</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">The
driver program (which executes our logic classes) will be as shown
below:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.1in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>class Game</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>public
static void main(String[] args)</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>TicTacToe
board = new TicTacToe();</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>//Other
code</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; line-height: 91%">
If you look at the above code, the methods display() and
createBlock() are gone. Remember that initialization might not be
only simply assigning values to the fields of an object. The purpose
of a constructor is to initialize the objects such that they will be
ready to be used in our program like the board object in above
program.</P>
<H5 CLASS="western" STYLE="margin-top: 0.12in">Constructor
Invocation:</H5>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.13in; line-height: 91%">
A constructor is invoked (called) automatically whenever an object is
created using the new keyword. For example, in the above example, new
TicTacToe() calls the constructor of TicTacToe class. If no
constructor has been defined, Java automatically invokes the default
constructor which initializes all the fields to their default values.</P>
<H5 CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.12in">Types of
Constructor:</H5>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.11in">
Based on the number of parameters and type of parameters,
constructors are of three types:</P>
<UL>
	<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Parameter
	less constructor or zero parameter</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">constructor</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Parameterized</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">constructor</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Copy</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">constructor</FONT></FONT></P>
</UL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.13in; line-height: 91%">
Parameter less constructor: As the name implies a zero parameter
constructor or parameter less constructor doesn’t have any
parameters in its signature. These are the most frequently found
constructors in a Java program. Let’s consider an example for zero
parameter constructor:</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.12in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>class Square</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>int
side;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>Square()</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>side
= 4;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; line-height: 91%">
In the above example, Sqaure() is a zero parameter or parameter less
constructor which initializes the side of a square to 4.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.14in; line-height: 91%">
Parameterized constructor: This type of constructor contains one or
more parameters in its signature. The parameters receive their values
when the constructor is called. Let’s consider an example for
parameterized constructor:</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.12in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>class Sqaure</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; margin-right: 5.32in; line-height: 91%">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>int side;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; margin-right: 5.32in; line-height: 91%">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>Square(int s)</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.31in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>side
= s;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; line-height: 91%">
In the above example, the Square() constructor accepts a single
parameter s, which is used to initialize the side of a square.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.14in; line-height: 91%">
Copy constructor: A copy constructor contains atleast one parameter
of reference type. This type of constructor is generally used to
create copies of the existing objects. Let’s consider an example
for copy constructor:</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.12in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>class Sqaure</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>int
side;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>Square()</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>side
= 4;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>Square(Square
original) //This is a copy constructor</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>side
= original.side;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">Now
let’s an example which covers all three types of constructors:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.1in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>class Square</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; margin-right: 5.58in; line-height: 91%">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>int side;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; margin-right: 5.58in; line-height: 91%">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>Square()</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.31in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>side
= 4;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>Square(int
s)</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>side
= s;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>Square(Square
original)</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>side
= original.side;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.37in">The
driver program is shown below:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.1in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>class SquareDemo</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>public
static void main(String[] args)</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; margin-right: 1.29in; line-height: 91%">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>Sqaure normal = new
Sqaure(); //Invokes zero parameter constructor Square original = new
Sqaure(8); //Invokes single parameter constructor Sqaure duplicate =
new Square(original); //Invokes copy constructor
System.out.println(“Side of normal square is: “+normal.side);
System.out.println(“Side of original square is: “+original.side);
System.out.println(“Side of duplicate square is: “+duplicate.side);</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.38in">Run
the above program and observe the output.</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>






<DIV TYPE=FOOTER>
	<P CLASS="western" STYLE="margin-top: 0.1in; line-height: 5%"><BR>
	</P>
</DIV>
    
    
    
{% endblock course %}