{% extends "layout.html"%}
{%block course%}

<DIV TYPE=HEADER>
	<P CLASS="western" STYLE="margin-bottom: 0.37in; line-height: 5%"><SPAN DIR="LTR" STYLE="position: absolute; top: 0.51in; left: 0.99in; width: 1.62in; height: 0.18in; border: none; padding: 0in; background: #ffffff">
		<P STYLE="margin-left: 0.01in; line-height: 0.17in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Calibri, serif">Introduction to Java</FONT></FONT></P>
	</SPAN>
	<SPAN DIR="LTR" STYLE="position: absolute; top: 0.51in; left: 6.11in; width: 1.17in; height: 0.18in; border: none; padding: 0in; background: #ffffff">
	
	</SPAN><BR>
	</P>
</DIV>




<H2 CLASS="western" STYLE="page-break-before: always"><BR CLEAR=LEFT><FONT COLOR="#17365d">Evolution
of Java</FONT></H2>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.09in; line-height: 91%">
The latest version of Java till date is Java SE 8 (in short version
8) which was released in March, 2014. The initial version (JDK Alpha
and Beta) was released in 1995. Java has made quite a journey from
version 1 to 8. Let’s look in detail what were the improvements or
features added in each version in this article Evolution of Java.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.16in; left: 1.8in; width: 450px"><IMG SRC="{{url_for('static',filename='img/JAVAFULL_MERGE_1__html_1f598d8.jpg')}}" NAME="image13.jpeg" WIDTH=450 HEIGHT=209 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0in; line-height: 91%">
You might think what’s with the character in the above picture and
why is it here? Well the character that you can see above is Java’s
mascot Duke.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.14in; line-height: 91%">
Before moving into the details of Java’s versions, let’s look at
the background details of how and why Java came into existence.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.14in; line-height: 91%">
In 1991, a research group at Sun Microsystems, as a part of their
Green project, was working to develop software to control consumer
electronic devices (embedded systems). The goal was to connect them
in a network and establish communication between them. The first
prototype developed by Sun Microsystems was a device called Star 7
which looked like a remote. The initial intent was to use C++ to
control the Star 7. But, as a result of frustration</P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.35in">with
C++, one of the members of Green project, James Gosling invented a
new language</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">called
Oak which was later renamed to Java.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.13in; line-height: 91%">
Why the name Oak? Well, as per rumors, there happened to be a Oak
tree outside the window at which James Gosling was working. Hence the
name Oak. Later they found out that there was already a language by
the name Oak. So, they renamed it to Java.</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.12in">Now,
let’s look at the version history which is the core of evolution of
Java.<SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.6in; left: 1.04in; width: 592px"><IMG SRC="{{url_for('static',filename='img/JAVAFULL_MERGE_1__html_1669cd99.jpg')}}" NAME="image14.jpeg" WIDTH=592 HEIGHT=305 BORDER=0></SPAN></P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; line-height: 91%">
The initial version of Java was <B>JDK 1.0 </B>which was released in
1996. Unlike other languages which evolve in small increments, Java
continued to evolve at a faster pace. By the time JDK</P>
<OL>
	<OL>
		<LI><P CLASS="western" STYLE="line-height: 0.39in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">was
		released, the developers of Java had already created JDK</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
		</FONT><FONT SIZE=4 STYLE="font-size: 16pt">1.1.</FONT></FONT></P>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; text-indent: -0in; margin-top: 0.13in; line-height: 91%">
<B>JDK </B><B>1.1 </B>was released in 1997. Java 1.1 (JDK 1.1) added
many new library elements, redefined the way events are handled and
reconfigured many of the features of the 1.0 library.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.14in; line-height: 91%">
The next major release was <B>Java 2 </B>(also known as <B>J2SE 1.2</B>)
which was released in 1998. 1.2 is the internal version number for
Java library. With Java 2, Sun repackaged the Java product as J2SE
(Java 2 Platform Standard Edition). Major changes in J2SE 1.2 are:</P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<OL>
	<OL>
		<UL>
			<LI><P CLASS="western" STYLE="margin-top: 0.03in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Introduced
			Swing</FONT><FONT SIZE=4 STYLE="font-size: 16pt"> </FONT><FONT SIZE=4 STYLE="font-size: 16pt">framework</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Introduced
			Collections</FONT><FONT SIZE=4 STYLE="font-size: 16pt"> </FONT><FONT SIZE=4 STYLE="font-size: 16pt">framework</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Enhancements
			to JVM and other programming</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
			</FONT><FONT SIZE=4 STYLE="font-size: 16pt">tools.</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Deprecated
			suspend(), resume() and stop() methods of the Thread</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
			</FONT><FONT SIZE=4 STYLE="font-size: 16pt">class.</FONT></FONT></P>
		</UL>
	</OL>
</OL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.13in; line-height: 91%">
The first major upgrade made to the original version Java 2 was <B>J2SE
1.3 </B>which was released in 2000. This version introduced new APIs
like JNDI, JPDA and JavaSound. Although this version introduced a
small set of changes, they are not very important.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.14in; line-height: 91%">
Next major upgrade <B>J2SE 1.4 </B>which was released in 2002,
further enhanced Java. Several important features were added in this
release. They are:</P>
<OL>
	<OL>
		<UL>
			<LI><P CLASS="western" STYLE="margin-top: 0.12in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Keyword</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
			</FONT><FONT SIZE=4 STYLE="font-size: 16pt">assert</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Chained</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
			</FONT><FONT SIZE=4 STYLE="font-size: 16pt">exceptions</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Channel-based
			I/O</FONT><FONT SIZE=4 STYLE="font-size: 16pt"> </FONT><FONT SIZE=4 STYLE="font-size: 16pt">subsystem</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Changes
			to Collections framework and networking</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
			</FONT><FONT SIZE=4 STYLE="font-size: 16pt">classes</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Logging</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
			</FONT><FONT SIZE=4 STYLE="font-size: 16pt">API</FONT></FONT></P>
		</UL>
	</OL>
</OL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.13in; line-height: 91%">
Next release of Java was <B>J2SE 5 </B>which was released in 2004.
Compared to other releases this one was revolutionary. J2SE 5
fundamentally expanded the scope, power and range of the language.
The major improvements and features in this release are:</P>
<OL>
	<OL>
		<UL>
			<LI><P CLASS="western" STYLE="margin-top: 0.12in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Generics</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Annotations</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Autoboxing
			and</FONT><FONT SIZE=4 STYLE="font-size: 16pt"> </FONT><FONT SIZE=4 STYLE="font-size: 16pt">auto-unboxing</FONT></FONT></P>
		</UL>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<OL>
	<OL>
		<UL>
			<LI><P CLASS="western" STYLE="margin-top: 0.03in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Enumerations</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Enhanced
			version of for loop, for-each</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
			</FONT><FONT SIZE=4 STYLE="font-size: 16pt">loop</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Variable
			length</FONT><FONT SIZE=4 STYLE="font-size: 16pt"> </FONT><FONT SIZE=4 STYLE="font-size: 16pt">arguments</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Static</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
			</FONT><FONT SIZE=4 STYLE="font-size: 16pt">import</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Formatted</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
			</FONT><FONT SIZE=4 STYLE="font-size: 16pt">I/O</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Concurrency</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
			</FONT><FONT SIZE=4 STYLE="font-size: 16pt">utilities</FONT></FONT></P>
		</UL>
	</OL>
</OL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.13in; line-height: 91%">
Next release was <B>Java SE 6 </B>which was released in 2006. Note
that Sun changed the name of the Java platform. The official product
name was Java Platform, Standard Edition 6. The Java Developer’s
kit was called JDK 6. The internal developer version number is 1.6.
This version did not add any major features. But, it enhanced the API
libraries, added several new packages and made improvements to the
runtime.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; text-indent: -0in; margin-top: 0.15in; line-height: 91%">
Next major release was <B>Java SE 7 </B>(codenamed Dolphin) which was
released in 2011 after Sun Microsystems was acquired by Oracle. Java
SE 7 contains many new features and enhancements which developed as a
part of Project Coin. The new features added in version 7 are as
follows:</P>
<OL>
	<OL>
		<UL>
			<LI><P CLASS="western" STYLE="margin-top: 0.12in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">A
			String can now control a switch</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
			</FONT><FONT SIZE=4 STYLE="font-size: 16pt">statement.</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Binary
			integer</FONT><FONT SIZE=4 STYLE="font-size: 16pt"> </FONT><FONT SIZE=4 STYLE="font-size: 16pt">literals.</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Underscores
			in numeric</FONT><FONT SIZE=4 STYLE="font-size: 16pt"> </FONT><FONT SIZE=4 STYLE="font-size: 16pt">literals.</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-right: 0.32in; margin-top: 0.13in; line-height: 91%">
			<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">An
			expanded try statement, called try-with-resources, that supports
			automatic resource</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
			</FONT><FONT SIZE=4 STYLE="font-size: 16pt">management.</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.12in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Type
			inference (using diamond operator) when constructing a generic</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
			</FONT><FONT SIZE=4 STYLE="font-size: 16pt">instance.</FONT></FONT></P>
		</UL>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<OL>
	<OL>
		<UL>
			<LI><P CLASS="western" STYLE="margin-top: 0.03in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Enhanced
			exception</FONT><FONT SIZE=4 STYLE="font-size: 16pt"> </FONT><FONT SIZE=4 STYLE="font-size: 16pt">handling</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-right: 0.32in; margin-top: 0.13in; line-height: 91%">
			<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Compiler
			warnings associated with some types of varargs methods have been
			improved.</FONT></FONT></P>
		</UL>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.12in">Several
enhancements were also made in Java SE 7. They are:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; text-indent: -0in; margin-top: 0.11in; line-height: 125%">
Addition of Fork/Join framework for NIO (New I/O) which supports
parallel programming. Upgrade to the Java runtime system that
supports non-Java languages.<SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 1.1in; left: 2.57in; width: 300px"><IMG SRC="{{url_for('static',filename='img/JAVAFULL_MERGE_1__html_70b66ee7.png')}}" NAME="image15.png" WIDTH=300 HEIGHT=196 BORDER=0></SPAN></P>
<P CLASS="western"><BR>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; line-height: 91%">
Next major release is <B>Java SE 8 </B>(unofficially codenamed as
Spider) which was released in 2014. Java 8 is a giant step forward
for the Java programming language. A lot of features and enhancements
were included. Among them the important ones are:</P>
<OL>
	<OL>
		<UL>
			<LI><P CLASS="western" STYLE="margin-top: 0.12in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Lambda</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
			</FONT><FONT SIZE=4 STYLE="font-size: 16pt">expressions</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Method</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
			</FONT><FONT SIZE=4 STYLE="font-size: 16pt">references</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Default</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
			</FONT><FONT SIZE=4 STYLE="font-size: 16pt">Methods</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">A
			new stream</FONT><FONT SIZE=4 STYLE="font-size: 16pt"> </FONT><FONT SIZE=4 STYLE="font-size: 16pt">API</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Optional
			class (java.util</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
			</FONT><FONT SIZE=4 STYLE="font-size: 16pt">package)</FONT></FONT></P>
		</UL>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<OL>
	<OL>
		<UL>
			<LI><P CLASS="western" STYLE="margin-top: 0.03in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">A
			new Date/Time</FONT><FONT SIZE=4 STYLE="font-size: 16pt"> </FONT><FONT SIZE=4 STYLE="font-size: 16pt">API</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Nashorn,
			the new JavaScript</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
			</FONT><FONT SIZE=4 STYLE="font-size: 16pt">engine</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Removal
			of permanent generation (in</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
			</FONT><FONT SIZE=4 STYLE="font-size: 16pt">memory)</FONT></FONT></P>
		</UL>
	</OL>
</OL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.13in; line-height: 91%">
With the introduction of Lambdas, method references and default
methods on interfaces Java incorporates support for functional
programming without loosing the clarity and simplicity of Java.</P>









<DIV TYPE=FOOTER>
	<P CLASS="western" STYLE="margin-top: 0.1in; line-height: 5%"><BR>
	</P>
</DIV>
    
    
    
{% endblock course %}