{% extends "layout.html"%}
{%block course%}

<DIV TYPE=HEADER>
	<P CLASS="western" STYLE="margin-bottom: 0.37in; line-height: 5%"><SPAN DIR="LTR" STYLE="position: absolute; top: 0.51in; left: 0.99in; width: 1.62in; height: 0.18in; border: none; padding: 0in; background: #ffffff">
		<P STYLE="margin-left: 0.01in; line-height: 0.17in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Calibri, serif">Introduction to Java</FONT></FONT></P>
	</SPAN>
	<SPAN DIR="LTR" STYLE="position: absolute; top: 0.51in; left: 6.11in; width: 1.17in; height: 0.18in; border: none; padding: 0in; background: #ffffff">
	
	</SPAN><BR>
	</P>
</DIV>




<H2 CLASS="western" STYLE="page-break-before: always"><BR CLEAR=LEFT><FONT COLOR="#17365d">final
Keyword</FONT></H2>
<P CLASS="western"><BR>
</P>
<H5 CLASS="western" STYLE="margin-top: 0.07in">Uses of final Keyword</H5>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.11in">Following
are the uses of final keyword in Java:</P>
<UL>
	<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">To
	declare constant</FONT><FONT SIZE=4 STYLE="font-size: 16pt"> </FONT><FONT SIZE=4 STYLE="font-size: 16pt">values</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">To
	make a method</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">non-overridable</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">To
	make a class</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">non-inheritable</FONT></FONT></P>
</UL>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.13in; line-height: 91%">
The second and third uses of final are applicable only in the context
of inheritance. Let’s look at each of the uses of final keyword in
detail.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<H5 CLASS="western">Declaring constant values</H5>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.13in; line-height: 91%">
The first use of final is to declare constant values in Java
programs. Syntax for declaring a constant is shown below:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.08in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">final
data-type variable-name = value;</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.18in">An
example for declaring constants is given below:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.06in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">final
float PI = 3.1415;</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 1.06in; margin-top: 0.18in; line-height: 125%">
In Java, you have to assign the value for the constant in the
declaration time itself. <B>final for methods</B></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.02in; line-height: 91%">
The final keyword can be used to make a method in base class
non-overridable. Syntax for making a method non-overridable is given
below:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.19in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">final
return-type method-name(parameters-list)</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.06in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">{</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.6in; margin-top: 0.06in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">//Body
of the method</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">}</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.04in">So,
we can say that an abstract method cannot be declared as final.</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<H5 CLASS="western">final for classes</H5>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.13in; line-height: 91%">
The final keyword can be used to make a class non-inheritable or
non-extendable. Syntax for making a class non-inheritable is given
below:</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.19in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">final
class Class-Name</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">{</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.6in; margin-top: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">//Members
of class</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">}</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.04in">So,
we can say that an abstract class cannot be declared as final.</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 1.08in; margin-top: 0.11in; line-height: 126%">
Let’s consider an example to demonstrate the use of final keyword
in inheritance: abstract class Shape</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.27in">{</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.36in">final
void area()</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.39in">{</P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.36in">System.out.println(&quot;Area
of shape&quot;);</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.38in">}</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">}</P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.35in">class
Circle extends Shape</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">{</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.36in">void
area()</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.39in">{</P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.36in">System.out.println(&quot;Area
of circle&quot;);</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.38in">}</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">}</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.35in">class
Rectangle extends Shape</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">{</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.36in">void
area()</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.39in">{</P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.36in">System.out.println(&quot;Area
of rectangle&quot;);</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.38in">}</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">}</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.35in">public
class Driver</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">{</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.36in">public
static void main(String[] args)</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.39in">{</P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.36in">Shape
s;</P>
<P CLASS="western" STYLE="margin-left: 1.1in; margin-right: 4.49in; margin-top: 0.01in; line-height: 91%">
s = new Circle(); s.area();</P>
<P CLASS="western" STYLE="margin-left: 1.1in; margin-right: 4.23in; margin-top: 0in; line-height: 91%">
s = new Rectangle(); s.area();</P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.35in">}</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">}</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.36in">The
above code when compiled gives errors as the sub classes are trying
to override the</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">area()
method in the super class which was declared as final.</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 4.21in; margin-top: 0.11in; line-height: 126%">
Now, let’s look at another example: final class Shape</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.27in">{</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.36in">void
area()</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.39in">{</P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.36in">System.out.println(&quot;Area
of shape&quot;);</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.38in">}</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">}</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.35in">class
Circle extends Shape</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">{</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.36in">void
area()</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.39in">{</P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.36in">System.out.println(&quot;Area
of circle&quot;);</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.38in">}</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">}</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.35in">class
Rectangle extends Shape</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">{</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.38in">void
area()</P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.35in">{</P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.38in">System.out.println(&quot;Area
of rectangle&quot;);</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.38in">}</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">}</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.35in">public
class Driver</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">{</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.36in">public
static void main(String[] args)</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.39in">{</P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.36in">Shape
s;</P>
<P CLASS="western" STYLE="margin-left: 1.1in; margin-right: 4.49in; margin-top: 0.01in; line-height: 91%">
s = new Circle(); s.area();</P>
<P CLASS="western" STYLE="margin-left: 1.1in; margin-right: 4.23in; margin-top: 0in; line-height: 91%">
s = new Rectangle(); s.area();</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.38in">}</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">}</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.36in">Above
code gives errors because the classes Circle and Rectangle are trying
to inherit the</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">Shape
class which was declared final (non-inheritable).</P>









<DIV TYPE=FOOTER>
	<P CLASS="western" STYLE="margin-top: 0.1in; line-height: 5%"><BR>
	</P>
</DIV>
    
    
    
{% endblock course %}