{% extends "layout.html"%}
{%block course%}

<DIV TYPE=HEADER>
	<P CLASS="western" STYLE="margin-bottom: 0.37in; line-height: 5%"><SPAN DIR="LTR" STYLE="position: absolute; top: 0.51in; left: 0.99in; width: 1.62in; height: 0.18in; border: none; padding: 0in; background: #ffffff">
		<P STYLE="margin-left: 0.01in; line-height: 0.17in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Calibri, serif">Introduction to Java</FONT></FONT></P>
	</SPAN>
	<SPAN DIR="LTR" STYLE="position: absolute; top: 0.51in; left: 6.11in; width: 1.17in; height: 0.18in; border: none; padding: 0in; background: #ffffff">
	
	</SPAN><BR>
	</P>
</DIV>


<H2 CLASS="western" STYLE="page-break-before: always"><BR CLEAR=LEFT><FONT COLOR="#17365d">Java
Buzzwords</FONT></H2>
<P CLASS="western"><BR>
</P>
<OL>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.32in; margin-top: 0.09in; line-height: 91%">
	<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt"><B>Simple:
	</B></FONT><FONT SIZE=4 STYLE="font-size: 16pt">Java designers built
	the language in such way that it is very easy to write programs
	using Java’s syntax. It also allows experienced programmers who
	know C and C++ to move away to Java more quickly since Java’s
	syntax was derived from C and object orientation features were
	derived from C++. If you already know about object orientation
	principles it will be much easier to write programs using</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">Java.</FONT></FONT></P>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.32in; margin-top: 0.15in; line-height: 91%">
	<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt"><B>Object
	Oriented: </B></FONT><FONT SIZE=4 STYLE="font-size: 16pt">Java is a
	object oriented programming language which allows the users  to
	solve the given problem in terms of classes and objects. Writing the
	solution in terms of classes and objects produces code which is
	easier to write, maintain and</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">reuse.</FONT></FONT></P>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.32in; margin-top: 0.14in; line-height: 91%">
	<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt"><B>Robust:
	</B></FONT><FONT SIZE=4 STYLE="font-size: 16pt">Errors in Java
	programs does not crash the virtual machine or hurt the underlying
	operating system. Several built-in Java features help the users to
	create reliable programs. Java is a strongly typed language which
	requires the programmer to declare the type of a variable before
	using it. Java also has built-in memory management mechanism known
	as garbage collector. Java also provides exception handling to
	handle runtime errors. Pointers available in C/C++ are not supported
	by Java which may lead to memory</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">errors.</FONT></FONT></P>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.32in; margin-top: 0.15in; line-height: 91%">
	<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt"><B>Multithreaded:
	</B></FONT><FONT SIZE=4 STYLE="font-size: 16pt">Java allows us to
	create interactive programs, which requires threads. Multithreading
	enables a program to carry out multiple tasks at the same time. For
	example, consider listening to music and writing something on a
	piece of paper at the same time. Java provides multiprocess
	synchronization primitives so that a programmer can be free from the
	worries of providing complex synchronization</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">solutions.</FONT></FONT></P>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.32in; margin-top: 0.15in; line-height: 91%">
	<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt"><B>Architecture
	Neutral: </B></FONT><FONT SIZE=4 STYLE="font-size: 16pt">Java
	compiler generates bytecode which when run on any machine gives the
	same output. Java’s goal is to enable programmers to develop
	programs which has WORA (Write Once, Run Anywhere)</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">property.</FONT></FONT></P>
</OL>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<OL START=6>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 0.35in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt"><B>Interpreted:
	</B></FONT><FONT SIZE=4 STYLE="font-size: 16pt">The bytecode
	generated by the Java compiler goes as input</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">to the Java Virtual</FONT></FONT></P>
</OL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.01in; line-height: 91%">
Machine (JVM) which is the runtime engine that interprets bytecode
into machine code (0’s and 1’s) line by line. Interpretation
speeds up the development process and simplifies debugging process.</P>
<OL START=7>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.32in; margin-top: 0.14in; line-height: 91%">
	<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt"><B>High
	performance: </B></FONT><FONT SIZE=4 STYLE="font-size: 16pt">Many
	virtual machines use a JIT (Just-In-Time) compiler that converts the
	bytecode into platform-specific instructions as the program
	executes. This helps to improve the performance of the Java</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">programs.</FONT></FONT></P>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.32in; margin-top: 0.14in; line-height: 91%">
	<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt"><B>Distributed:
	</B></FONT><FONT SIZE=4 STYLE="font-size: 16pt">Java provides
	libraries for handling TCP/IP, FTP and other network protocols which
	enables programmers to easily develop distributed applications. Java
	also provides Remote Method Invocation (RMI) which enables a program
	to access methods across a network.</FONT></FONT></P>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.32in; margin-top: 0.14in; line-height: 91%">
	<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt"><B>Dynamic:
	</B></FONT><FONT SIZE=4 STYLE="font-size: 16pt">Java programs
	maintain non-trivial amount of run-time type information which is
	used to verify and access objects at run time. This allows to
	dynamically link small fragments of bytecode during execution of the</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">application.</FONT></FONT></P>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.32in; margin-top: 0.14in; line-height: 91%">
	<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt"><B>Portable:
	</B></FONT><FONT SIZE=4 STYLE="font-size: 16pt">Portability is
	achieved through Java’s architecture neutrality and through a
	strict definition of the language. For example, Java’s integer
	primitive type always means a signed 2’s complement 32-bit
	integer. Whereas in C/C++, integer can be unsigned and its size
	varies according to the system’s register</FONT><FONT SIZE=4 STYLE="font-size: 16pt">
	</FONT><FONT SIZE=4 STYLE="font-size: 16pt">size.</FONT></FONT></P>
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.32in; margin-top: 0.14in; line-height: 91%">
	<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt"><B>Secure:
	</B></FONT><FONT SIZE=4 STYLE="font-size: 16pt">Java’s sandbox
	security model available in applets prevents the Java program from
	accessing the resources of the user’s system. This prevents
	malicious programs to gain access to sensitive information available
	on the user’s</FONT><FONT SIZE=4 STYLE="font-size: 16pt"> </FONT><FONT SIZE=4 STYLE="font-size: 16pt">system.</FONT></FONT></P>
</OL>










<DIV TYPE=FOOTER>
	<P CLASS="western" STYLE="margin-top: 0.1in; line-height: 5%"><BR>
	</P>
</DIV>
    
    
    
{% endblock course %}