{% extends "layout.html"%}
{%block course%}

<DIV TYPE=HEADER>
	<P CLASS="western" STYLE="margin-bottom: 0.37in; line-height: 5%"><SPAN DIR="LTR" STYLE="position: absolute; top: 0.51in; left: 0.99in; width: 1.62in; height: 0.18in; border: none; padding: 0in; background: #ffffff">
		<P STYLE="margin-left: 0.01in; line-height: 0.17in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Calibri, serif">Introduction to Java</FONT></FONT></P>
	</SPAN>
	<SPAN DIR="LTR" STYLE="position: absolute; top: 0.51in; left: 6.11in; width: 1.17in; height: 0.18in; border: none; padding: 0in; background: #ffffff">
	
	</SPAN><BR>
	</P>
</DIV>



<H2 CLASS="western" STYLE="page-break-before: always"><BR CLEAR=LEFT><FONT COLOR="#17365d">Life
cycle of a Java Program</FONT></H2>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.09in; line-height: 91%">
Life cycle of a java program tells us what happens right from the
point when we type source code in a text editor to the point that
source code is converted into machine code (0’s and 1’s).</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.12in">
There are three main stages in the life cycle of a java program. They
are:</P>
<OL>
	<OL>
		<UL>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Editing
			the</FONT><FONT SIZE=4 STYLE="font-size: 16pt"> </FONT><FONT SIZE=4 STYLE="font-size: 16pt">program</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Compiling
			the source</FONT><FONT SIZE=4 STYLE="font-size: 16pt"> </FONT><FONT SIZE=4 STYLE="font-size: 16pt">code</FONT></FONT></P>
			<LI><P CLASS="western" STYLE="margin-top: 0.11in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Executing
			the byte</FONT><FONT SIZE=4 STYLE="font-size: 16pt"> </FONT><FONT SIZE=4 STYLE="font-size: 16pt">code</FONT></FONT></P>
		</UL>
	</OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.3in; left: 1.21in; width: 539px"><IMG SRC="{{url_for('static',filename='img/JAVAFULL_MERGE_1__html_c8e5dbb.jpg')}}" NAME="image16.jpeg" WIDTH=539 HEIGHT=387 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.26in; line-height: 91%">
First, you will start with typing the program in a text-editor (ex:
notepad, notepad++, wordpad, textedit etc). After completing editing
of the program, we have to save the file. While saving the file you
should remember that the file must be saved with .java extension.</P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.35in">For
example, let’s think that I had written a Java program which
contains a single class</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.01in; line-height: 91%">
Sample (more on classes in future posts). It is a good convention to
save the file with the name of the class. So, as per my example, the
file will be saved as <B>Sample.java</B>.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.14in; line-height: 91%">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Second
step is compilation. The name of the Java compiler is </FONT><FONT SIZE=4 STYLE="font-size: 16pt"><B>javac</B></FONT><FONT SIZE=4 STYLE="font-size: 16pt">.
The input to the compiler is Java source code which is available in
Sample.java. The output of the compiler is </FONT><FONT SIZE=4 STYLE="font-size: 16pt"><B>machine
independent or platform independent code which is known as bytecode</B></FONT><FONT SIZE=4 STYLE="font-size: 16pt">.
The file which is generated after compilation is .class file. As per
my example, the bytecode file will be Sample.class.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.12in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Command
to compile Java program is: </FONT><FONT SIZE=4 STYLE="font-size: 16pt"><B>javac</B></FONT><FONT SIZE=4 STYLE="font-size: 16pt"><B>
</B></FONT><FONT SIZE=4 STYLE="font-size: 16pt"><B>filename.java</B></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.13in; line-height: 91%">
Last step is execution. The bytecode generated by the compiler will
be executed by Java Virtual Machine (JVM). Input to the JVM is
bytecode and output is machine code (0’s and 1’s) which will be
executed by the CPU of the local machine.</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.12in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4 STYLE="font-size: 16pt">Command
to execute a Java program is: </FONT><FONT SIZE=4 STYLE="font-size: 16pt"><B>java</B></FONT><FONT SIZE=4 STYLE="font-size: 16pt"><B>
</B></FONT><FONT SIZE=4 STYLE="font-size: 16pt"><B>ClassName</B></FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<H2 CLASS="western" STYLE="margin-right: 0.79in; margin-top: 0in"><BR CLEAR=LEFT><FONT COLOR="#17365d">Creating,
Compiling and Executing a Java Program</FONT></H2>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.09in; line-height: 91%">
First step is to type the Java source code into a text editor and
save it with .java extension. Type or copy/paste the below code in
your favorite text editor.</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 4.66in; margin-top: 0.14in; line-height: 91%">
//Hello World Java Program class Hello</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">{</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.38in">public
static void main(String[] args)</P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.35in">{</P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.38in">System.out.println(&quot;Hello
World&quot;);</P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.38in">}</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">}</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.36in">Above
Java program prints Hello World on to the console (command prompt in
Windows).</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.01in; line-height: 91%">
After typing the above program save the file as Hello.java. Note that
file name Hello is same as the class name. It is good practice to
save the file with the same name as class name but is not mandatory.
Let’s assume that the file is saved in the path C:/java. So, full
path to the source file is C:/java/Hello.java.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.15in; line-height: 91%">
Next step is to compile the source code file. Open the command prompt
(black window) and navigate to the location C:/java. Type the
following command to compile the java file:</P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-right: 0.22in; margin-top: 0.08in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">javac
Hello.java</FONT></FONT></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.2in; line-height: 91%">
If there are no errors in the Java program, the program compiles
successfully and you will see the prompt again as shown below:<SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 1.03in; left: 1.02in; width: 619px"><IMG SRC="{{url_for('static',filename='img/JAVAFULL_MERGE_1__html_b51851b7.jpg')}}" NAME="image17.jpeg" WIDTH=619 HEIGHT=313 BORDER=0></SPAN></P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.35in">After
compiling the program, you can see the generated file Hello.class
which contains the</P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.39in">bytecode
in the location C:/java.</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.13in; line-height: 91%">
Next step is to execute the program. To execute the program, type the
following command  in the command prompt:</P>
<P CLASS="western" STYLE="margin-left: 2.77in; margin-top: 0.08in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#303030"><FONT FACE="Arial, serif"><FONT SIZE=4 STYLE="font-size: 15pt">java
Hello</FONT></FONT></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 2.52in; margin-top: 0.18in; line-height: 125%">
Take care that .class is not added after the class name Hello. You
can see the output Hello World as shown below:<SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 1.17in; left: 1.37in; width: 532px"><IMG SRC="{{url_for('static',filename='img/JAVAFULL_MERGE_1__html_1a03b694.jpg')}}" NAME="image18.jpeg" WIDTH=532 HEIGHT=268 BORDER=0></SPAN></P>
<P CLASS="western"><BR>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0in; line-height: 91%">
Alright! Now that we have executed our first Java program, we will
look closer at the Java program to discuss various elements and their
use.</P>
<H5 CLASS="western" STYLE="margin-top: 0.12in">Comments</H5>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.13in; line-height: 91%">
In Line 1, you can see comments. In Java, we can write comments at
any line in the program. There are different types of comments. The
one you see in the above program is a single line comment. A single
line comment starts with // followed by anything you want to write.
Comments are useful for writing something which will be useful for
the developer or other users. Remember that Java compiler ignores
comments.</P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<H5 CLASS="western" STYLE="line-height: 0.37in">class Keyword</H5>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.13in; line-height: 91%">
In Lines 2 to 8, you can see a class declaration. Don’t worry too
much about classes. They will be explained in detail in a separate
post. For now remember this. Every Java program must contain at least
one class. A class can be declared in Java by using the class
keyword.</P>
<H5 CLASS="western" STYLE="margin-top: 0.12in">main Method</H5>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.13in; line-height: 91%">
In Lines 4 to 7, you can see the main method. Again, don’t worry
too much. The main method is an entry point for every Java program.
For executing a Java program, we have to write a main method. When
JVM executes the bytecode, it searches for the main method and starts
the execution from that line.</P>
<H5 CLASS="western" STYLE="margin-top: 0.12in">System.out.println</H5>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.13in; line-height: 91%">
It’s normal in a program to do computations, reading data from the
user and printing the results. Reading data from the user in the
console window (command prompt) is called Standard Input and
printing/writing data to the console is called Standard Output. In
the above Hello World program, I am printing to the console by using
println method which is provided by the out object of PrintStream
class and the out object is made accessible by System class. Let’s
say that whenever we want to print something on to the console, we
have to use System.out.println.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.15in; line-height: 91%">
System and PrintStream are predefined classes which are provided by
Java. All these predefined classes come bundled in packages. A
package is a group of related classes. System class is available in
java.lang package and PrintStream is available in java.io  package.</P>









<DIV TYPE=FOOTER>
	<P CLASS="western" STYLE="margin-top: 0.1in; line-height: 5%"><BR>
	</P>
</DIV>
    
    
    
{% endblock course %}