{% extends "layout.html"%}
{%block course%}

<DIV TYPE=HEADER>
	<P CLASS="western" STYLE="margin-bottom: 0.37in; line-height: 5%"><SPAN DIR="LTR" STYLE="position: absolute; top: 0.51in; left: 0.99in; width: 1.62in; height: 0.18in; border: none; padding: 0in; background: #ffffff">
		<P STYLE="margin-left: 0.01in; line-height: 0.17in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Calibri, serif">Introduction to Java</FONT></FONT></P>
	</SPAN>
	<SPAN DIR="LTR" STYLE="position: absolute; top: 0.51in; left: 6.11in; width: 1.17in; height: 0.18in; border: none; padding: 0in; background: #ffffff">
	
	</SPAN><BR>
	</P>
</DIV>







<H2 CLASS="western" STYLE="page-break-before: always"><BR CLEAR=LEFT><FONT COLOR="#17365d">Scope
and Lifetime</FONT></H2>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.09in; line-height: 91%">
Scope of a variable refers to in which areas or sections of a program
can the variable be accessed and lifetime of a variable refers to how
long the variable stays alive in memory.</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.14in; line-height: 91%">
General convention for a variable’s scope is, it is accessible only
within the block in which it is declared. A block begins with a left
curly brace { and ends with a right curly brace }.</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.14in; line-height: 91%">
As we know there are three types of variables: 1) instance variables,
2) class variables and 3) local variables, we will look at the scope
and lifetime of each of them now.</P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<H5 CLASS="western" STYLE="margin-top: 0in">Instance Variables:</H5>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; text-indent: -0in; margin-top: 0.13in; line-height: 91%">
A variable which is declared inside a class and outside all the
methods and blocks is an instance variable.</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.14in; line-height: 91%">
General scope of an instance variable is throughout the class except
in static methods. Lifetime of an instance variable is until the
object stays in memory.</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.2in; left: 1.79in; width: 450px"><IMG SRC="{{url_for('static',filename='img/JAVAFULL_MERGE_1__html_db52493c.jpg')}}" NAME="image30.jpeg" WIDTH=450 HEIGHT=310 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<H5 CLASS="western" STYLE="line-height: 0.37in">Class Variables:</H5>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.13in; line-height: 91%">
A variable which is declared inside a class, outside all the blocks
and is marked static is known as a class variable.</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.14in; line-height: 91%">
General scope of a class variable is throughout the class and the
lifetime of a class variable is until the end of the program or as
long as the class is loaded in memory.</P>
<P CLASS="western" STYLE="margin-top: 0in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.31in; left: 1.18in; width: 573px"><IMG SRC="{{url_for('static',filename='img/JAVAFULL_MERGE_1__html_d3fe9728.jpg')}}" NAME="image31.jpeg" WIDTH=573 HEIGHT=387 BORDER=0></SPAN><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0.01in"><BR>
</P>
<H5 CLASS="western">Local Variables:</H5>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.13in; line-height: 91%">
All other variables which are not instance and class variables are
treated as local variables including the parameters in a method.</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.14in; line-height: 91%">
Scope of a local variable is within the block in which it is declared
and the lifetime of a local variable is until the control leaves the
block in which it is declared.</P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 0.82in"><IMG SRC="{{url_for('static',filename='img/JAVAFULL_MERGE_1__html_c53e07d8.jpg')}}" NAME="image32.jpeg" ALIGN=BOTTOM WIDTH=468 HEIGHT=318 BORDER=0></P>
<P CLASS="western" STYLE="margin-top: 0in"><BR>
</P>
<H5 CLASS="western" STYLE="line-height: 0.37in">Nested Scope:</H5>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.39in; margin-top: 0.13in; line-height: 91%">
In Java, we can create nested blocks – a block inside another
block. In case of nested blocks what is the scope of local variables?</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-right: 0.32in; margin-top: 0.14in; line-height: 91%">
All the local variables in the outer block are accessible within the
inner block but vice versa is not true i.e., local variables within
the inner block are not accessible in the outer block. Consider the
following example:</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; margin-top: 0.12in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>class Sample</FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.1in; line-height: 0.34in">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>public
static void main(String[] args)</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>int
x;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>//Begining
of inner block</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>{</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.6in; margin-right: 4.43in; line-height: 91%">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>int y = 100; x =
200;</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.6in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>System.out.println(&quot;x
= &quot;+x);</FONT></FONT></P>
<P CLASS="western" STYLE="margin-top: 0.01in; page-break-before: always">
<BR>
</P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.32in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; margin-right: 3.87in; margin-top: 0in; line-height: 91%">
<FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>//End of inner
block System.out.println(&quot;x = &quot;+x);</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 1.1in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>y
= 200; //Error as y is not accessible in the outer block</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.6in; line-height: 0.33in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; line-height: 0.34in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT SIZE=4>}</FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-right: 0.31in; line-height: 91%">
As you can see in the above program, line 14 generates an error as
the variable y is not visible in the outer block and therefore cannot
be accessed.</P>
<P CLASS="western" STYLE="margin-left: 0.1in; margin-top: 0.12in">The
summary of scope and lifetime of variables is as shown below:</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" STYLE="margin-top: 0in"><SPAN CLASS="sd-abs-pos" STYLE="position: relative; top: 0.2in; left: 1.12in; width: 580px"><IMG SRC="{{url_for('static',filename='img/JAVAFULL_MERGE_1__html_ebc23cf5.jpg')}}" NAME="image33.jpeg" WIDTH=580 HEIGHT=368 BORDER=0></SPAN><BR>
</P>





<DIV TYPE=FOOTER>
	<P CLASS="western" STYLE="margin-top: 0.1in; line-height: 5%"><BR>
	</P>
</DIV>
    
    
    
{% endblock course %}